<%= form_for([@cardset, @details_page]) do |f| %>
  <% if @details_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@details_page.errors.count, "error") %> prohibited this details page from being saved:</h2>

      <ul>
      <% @details_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% title_change_disabled = (@details_page.title == "Skeleton") %>

  <div style="float: right;">
    <%= select_tag "special_titles", options_for_select([["Special titles:", ""], ["Front Page - will be shown on the cardset main page", "Front Page"], ["Skeleton - will have special table formatting and generation options", "Skeleton"]], :selected => @details_page.title),
      { :onchange => "$('details_page_title').value = this.value",
      :onkeyup => "$('details_page_title').value = this.value", :disabled => title_change_disabled } %>
  </div>
  <div class="field">
    <%= f.label :title, "Title:" %>
    <%= f.text_field :title, :disabled => title_change_disabled %>
    <% if title_change_disabled %>
      <%= link_to_function "(Change title)", "$('details_page_title').enable(); $('special_titles').enable(); $('change_title_link').remove();", :id => "change_title_link" %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :body, "Content:" %>
      <%= render :partial => "shared/markdown_short" -%>
  </div>
  <div class="field">
    <%= f.text_area :body, :rows=>"", :cols=>"" %>
  </div>
  <div class="actions">
    <%= f.hidden_field :cardset_id, :value => @cardset.id %>
    <div class="button_outer"><div class="button_inner">
      <%= f.submit %>
    </div></div>
  </div>
<% end %>
