<h1>
  <%= link_to @cardset.name, @cardset %>: Editing <%= @details_page.title %>
</h1>
<%= @title = @cardset.name + ": Editing " + @details_page.title %>

<%= render "form" %>

<%= link_to "Back", [@cardset, @details_page] %>
