<h1>
  <%= @title = @cardset.name + ": " + @details_page.title %>
</h1>

<%= render "cardsets/setviews" %>

<p>
  <%= format_all_markup @details_page.body, @details_page.cardset %>
</p>

<% if permission_to?(:admin, @cardset) %>
 <p>
  <%= link_to "Edit", edit_cardset_details_page_path(@cardset, @details_page) %> |
  <%= link_to "Destroy", cardset_details_page_path(@cardset.id, @details_page),
          :confirm => "Are you sure you want to permanently delete the #{@details_page.title} page?",
          :method => :delete %></td>
 </p>
<% end %>
<%= render :partial => "shared/updated_at", :locals => { :object => @details_page } %>