<% "Takes two parameters, present_frame_letters and present_rarity_letters" %>

<% frame_toggle_letters = Card.frame_code_letters.select {|l| present_frame_letters.include?(l)} %>
<% if frame_toggle_letters.any? %>
  Show frames:
  <% frame_toggle_letters.each do |letter| %>
    <span id="frame_<%= letter %>_toggle" class="skeleton_letter_toggle code_shown code_frame_<%= letter %>" onclick="toggle_frame_letter(this)"><%= letter %></span>
  <% end %>
<% end %>
<br>
  Show rarities:
  <% Card.rarity_letters.select {|l| present_rarity_letters.include?(l)}.each do |letter| %>
    <span id="rarity_<%= letter %>_toggle" class="skeleton_letter_toggle code_shown" onclick="toggle_rarity_letter(this)"><%= letter %></span>
  <% end %>