<%= form_for(@cardset) do |f| %>
  <% if @cardset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cardset.errors.count, "error") %> prohibited this cardset from being saved:</h2>

      <ul>
      <% @cardset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>Admin user for this cardset will be: <%= link_to current_user.name, current_user %>
  </div>
  <div class="field">
    <%= f.label :name, "Cardset name" %><br />
    <%= f.text_field :name %>
  </div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="field">
    <%= f.label :description, "Short description" %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
