<h1 class="nonprinting">
  <%= link_to @cardset.name, @cardset %>: Virtual Booster
</h1>
<% @title = "#{@cardset.name}: Booster " %>

<%= render "setviews" %>
<%= render "shared/printcontrols" %>

<div class="helptext">
  <% collation, token_present = @booster_info %>
  <% if collation == "flat" %>
    15 random cards from the set. <br>You could alternatively have 
    <%= link_to "a booster in the usual rarity pattern", request.fullpath.split("?")[0] %>.
  <% elsif collation == "m10" %>
    This booster was generated with modern collation since the cardset contains mythics: 1 rare / mythic, 3 uncommons, 10 commons, 1 basic land<% if token_present %>, 1 token<% end %>. <br>You could alternatively have 
    <%= link_to "15 random cards regardless of rarity", request.fullpath.split("?")[0] + "?flat" %>.
  <% else %>
    This booster was generated with pre-<i>Magic 2010</i> collation since the cardset contains no mythics: 1 rare, 3 uncommons, 11 commons<% if token_present %>, 1 token<% end %>. <br>You could alternatively have 
    <%= link_to "15 random cards regardless of rarity", request.fullpath.split("?")[0] + "?flat" %>.
  <% end %>
</div>

<table>
  <% slice_size = (@booster.length == 16 ? 4 : 5) %>
  <% @booster.each_slice(slice_size) do |cards| %>
    <tr>
      <% cards.each do |card| %>
        <% @card = card %>
        <td>
          <% do_link = !@card.cardset.nil? %>
          <%= render :partial => "shared/card", :locals => {:link => do_link, :classes => ""} %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<p class="nonprinting">
  <% @booster.each do |card| %>
    <% if !card.blank %>
      <% do_link = !card.cardset.nil? %>
      <%= link_to_if do_link, card.printable_name, card %>
      (<%= card.rarity %><% if card.foil %>, foil<% end %>)
      <br>
    <% end %>
  <% end %>
</p>