<h1>
  <%= link_to @cardset.name, @cardset %>: Virtual Booster
</h1>
<% @title = "#{@cardset.name}: Booster " %>

<%= render "setviews" %>

<div class="helptext">
  <% m10_collation, token_present = @booster_info %>
  <% if m10_collation %>This booster was generated with modern collation since the cardset contains mythics: 1 rare / mythic, 3 uncommons, 10 commons, 1 basic land<% if token_present %>, 1 token<% end %>.
  <% else %>
    This booster was generated with pre-<i>Magic 2010</i> collation since the cardset contains no mythics: 1 rare, 3 uncommons, 11 commons<% if token_present %>, 1 token<% end %>.
  <% end %>
</div>

<table>
  <% slice_size = (@booster.length == 16 ? 4 : 5) %>
  <% @booster.each_slice(slice_size) do |cards| %>
    <tr>
      <% cards.each do |@card| %>
        <td>
          <% do_link = !@card.cardset.nil? %>
          <%= render :partial => "shared/card", :locals => {:link => do_link} %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<p>
  <% @booster.each do |@card| %>
    <% if !@card.blank %>
      <% do_link = !@card.cardset.nil? %>
      <%= link_to_if do_link, @card.printable_name, @card %>
      (<%= @card.rarity %><% if @card.foil %>, foil<% end %>)
      <br>
    <% end %>
  <% end %>
</p>