<h1>
  <%= link_to @cardset.name, @cardset %>
</h1>
<% @title = @cardset.name %>

<%= render 'setviews' %>

<br>
<div>
<table class="sortable resizable">
  <tr>
    <th class="sortfirstasc">#</th>
    <th>Name</th>
    <th>Colour</th>
    <th id="rarity">Rarity</th>
    <th class="string">Cost</th>
    <th>Type</th>
    <th>P</th>
    <th>T</th>
    <% if @cardset.configuration.cardlist_show_code %>
      <th>Code</th>
    <% end %>
    <% if @cardset.configuration.cardlist_show_active %>
      <th>Active?</th>
    <% end %>
    <th class="date">Updated</th>
    <% if @cardset.configuration.cardlist_show_comments %>
      <th>Comments</th>
      <th class="date">Recent comment</th>
      <% if permission_to?(:edit, @cardset) && @cardset.configuration.use_addressing %>
        <th>Unaddressed</th>
      <% end %>
    <% end %>
    <% if permission_to?(:edit, @cardset) || permission_to?(:delete, @cardset) %>
      <th colspan="3" class="nosort">&nbsp;</th>
    <% end %>
  </tr>
<% all_cards = Card.find_all_by_cardset_id(@cardset.id, :include => :comments) %>
<% if all_cards && !all_cards.empty? %>
  <% all_cards.sort.each_with_index do |card, index| %>
    <tr id="card_row_<%= card.id %>">
      <td><%= index+1 %></td>
      <td><%= link_to card.printable_name, card %></td>
      <td><%= card.category %></td>
      <td><%= card.rarity.capitalize %></td>
      <td><%= card.cost %></td>
      <td>
        <%= card.supertype %>
        <%= card.cardtype %>
        <% if !card.subtype.blank? %>
          &ndash; <%= card.subtype %>
        <% end %> </td>
      <td><%= card.power %></td>
      <td><%= card.toughness %></td>
      <% if @cardset.configuration.cardlist_show_code %>
        <td><%= card.code %></td>
      <% end %>
      <% if @cardset.configuration.cardlist_show_active %>
        <td><%= card.active %></td>
      <% end %>
      <td>
        <%= format_datetime(card.updated_at) %> by <%= link_to_last_edit_user(card) %>
      </td>
      <% if @cardset.configuration.cardlist_show_comments %>
        <% card_comments_sorted = Comment.find(:all,
             :conditions => ["card_id = ?", card.id],
             :order => "comments.updated_at DESC") %>
        <td><%= card_comments_sorted.count %></td>
        <td>
          <% if !card_comments_sorted.empty? %>
            <%= format_datetime(card_comments_sorted[0].created_at) %> by <%= comment_user_link(card_comments_sorted[0]) %>
          <% end %>
        </td>
        <% if permission_to?(:edit, @cardset) && @cardset.configuration.use_addressing %>
          <td><%= card_comments_sorted.select { |c| c.unaddressed? }.count %></td>
        <% end %>
      <% end %>
      <% if permission_to?(:edit, @cardset) %>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
      <% end %>
      <% if permission_to?(:delete, @cardset) %>
        <td><%= link_to 'Delete', card, :confirm => "Really DELETE #{card.name}?", :method => :delete, :remote => true %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% else %>
  </table>
  No cards in this cardset!
<% end %>

<%= render 'setviews' %>
