<h1>
  <%= link_to @cardset.name, @cardset %>
</h1>
<% @title = @cardset.name %>

<%= render 'setviews' %>

<br>
<div>
<table class="sortable resizable">
  <tr>
    <th class="sortfirstasc">#</th>
    <th>Name</th>
    <th>Colour</th>
    <th id="rarity">Rarity</th>
    <th class="string">Cost</th>
    <th>Type</th>
    <th>P</th>
    <th>T</th>
    <th>Comments</th>
    <th>Recent comment</th>
    <% if signed_in_as_admin?(@cardset) %>
      <th colspan="3" class="nosort">&nbsp;</th>
    <% end %>
  </tr>
<% all_cards = Card.find_all_by_cardset_id(@cardset.id, :include => :comments) %>
<% if all_cards && !all_cards.empty? %>
  <% all_cards.sort.each_with_index do |card, index| %>
    <tr>
      <td><%= index %></td>
      <td><%= link_to card.name, card %></td>
      <td><%= card.category %></td>
      <td><%= card.rarity.capitalize %></td>
      <td><%= card.cost %></td>
      <td>
        <%= card.supertype %>
        <%= card.cardtype %>
        <% if !card.subtype.blank? %>
          &ndash; <%= card.subtype %>
        <% end %> </td>
      <td><%= card.power %></td>
      <td><%= card.toughness %></td>
      <% card_comments_sorted = Comment.find(:all,
           :conditions => ["card_id = ?", card.id],
           :order => "comments.updated_at DESC") %>
      <td><%= card_comments_sorted.count %></td>
      <td>
        <% if !card_comments_sorted.empty? %>
          <%= card_comments_sorted[0].created_at %> by <%= card_comments_sorted[0].user %>
        <% end %>
      </td>
      <% if signed_in_as_admin?(@cardset) %>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Delete', card, :confirm => "Really DELETE #{card.name}?", :method => :delete, :remote => true %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% else %>
  </table>
  No cards in this cardset!
<% end %>

<%= render 'setviews' %>
