<h1>
  <%= link_to @cardset.name, @cardset %>: Card List
</h1>
<% @title = @cardset.name + ": Card List" %>

<%= render "setviews" %>

<br>
<% code_display = @cardset.configuration.cardlist_show_code ? "" : "style='display:none;'" 
  active_display = @cardset.configuration.cardlist_show_active ? "" : "style='display:none;'" 
  comment_display = @cardset.configuration.cardlist_show_comments ? "" : "style='display:none;'" 
  update_display = "style='display:none;'" 
%>
<div><span class="controls">
  <% toggleable_fields = [
      ["card_text", "card text", true],
      ["code", "code", @cardset.configuration.cardlist_show_code],
      ["active", "active", @cardset.configuration.cardlist_show_active],
      ["updated", "last update", false],
      ["comments", "comments", @cardset.configuration.cardlist_show_comments]
    ]
    unaddressed_column = permission_to?(:edit, @cardset) && @cardset.configuration.use_addressing %>
  <% toggleable_fields.each do |field_class, field_text, initially_shown| %>
    <span class="one_control" onclick="$$('.<%= field_class %>').invoke('toggle');"
      ><span class="<%= field_class %> shown_control" <%= initially_shown ? "" : "style='display:none;'" %>>Hide <%= field_text %></span
      ><span class="<%= field_class %> hidden_control" <%= initially_shown ? "style='display:none;'" : "" %>>Show <%= field_text %></span
    ></span>
  <% end %>  
</span></div>
<br>
<div>
<table class="sortable resizable">
  <tr>
    <th class="sortfirstasc">#</th>
    <th>Name</th>
    <th class="colour">Colour</th>
    <th id="rarity">Rarity</th>
    <th class="manacost">Cost</th>
    <th>Type</th>
    <th>P</th>
    <th>T</th>
    <th class="code" <%= code_display %>>Code</th>
    <th class="active" <%= active_display %>>Active?</th>
    <th class="card_text">Card text</th>
    <th class="updated" <%= update_display %>>Updated</th>
    <th class="comments" <%= comment_display %>>Comments</th>
    <th class="comments" <%= comment_display %>>Recent comment</th>
    <% if unaddressed_column %>
      <th class="comments" <%= comment_display %>>Unaddressed</th>
    <% end %>
    <% if permission_to?(:edit, @cardset) || permission_to?(:delete, @cardset) %>
      <th colspan="3" class="nosort">&nbsp;</th>
    <% end %>
  </tr>
<% all_cards = @cardset.listable_cards %>
<% if all_cards && !all_cards.empty? %>
  <% all_cards.sort.each_with_index do |card, index| %>
    <tr id="card_row_<%= card.id %>">
      <td><%= index+1 %></td>
      <% "Fields that don't vary with multipart cards" %>
      <td><%= link_to card.listable_name, card %></td>
      <td><%= card.category %></td>
      <td><%= card.rarity.capitalize %></td>
      <% "Fields that vary with multipart cards" %>
      <% if !card.multipart? %>
        <td><span style="display:none;"><%= card.converted_mana_cost %></span><%= format_mana_symbols(card.cost, true) %></td>
        <td><%= displayed_type(card) %></td>
        <td><%= card.power %></td>
        <td><%= card.toughness %></td>
        <td class="code" <%= code_display %>><%= card.code %></td>
        <td class="active" <%= active_display %>><%= card.active ? "Yes" : "" %></td>
        <td class="card_text">
          <%= format_card_text(card, :rulestext) %>
        </td>
      <% else %>
        <% "Multipart. We know card is the primary." %>
        <% card2 = card.link 
           sep = card.separator %>
        <td><span style="display:none;"><%= card.converted_mana_cost %></span>
        <% if card.cost.blank? || card2.cost.blank? %>
          <%= nowrap(format_mana_symbols(card.cost, true)) %>
          <%= nowrap(format_mana_symbols(card2.cost, true)) %>
        <% else %>
          <%= nowrap(format_mana_symbols(card.cost, true)) %>
          <%= sep %>
          <%= nowrap(format_mana_symbols(card2.cost, true)) %>
        <% end %>
        </td>
        <td><%= separate_if_both_nonblank(displayed_type(card), displayed_type(card2), sep).html_safe %></td>
        <td><%= separate_if_both_nonblank(card.power, card2.power, sep) %></td>
        <td><%= separate_if_both_nonblank(card.toughness, card2.toughness, sep) %></td>
        <td class="code" <%= code_display %>><%= card.code %></td>
        <td class="active" <%= active_display %>><%= card.active ? "Yes" : "" %></td>
        <td class="card_text">
          <%= separate_if_both_nonblank(format_card_text(card, :rulestext),
                                        format_card_text(card2, :rulestext), sep) %>
        </td>
      <% end %>
      
      <td class="updated" <%= update_display %>>
        <span style="display:none;"><%= card.updated_at.to_i %></span>
        <%= format_datetime(card.updated_at) %> <%= by_last_edit_user_if_available card %>
      </td>
      <% card_comments_sorted = Comment.find(:all,
           :conditions => ["card_id = ?", card.id],
           :order => "comments.updated_at DESC") %>
      <td class="comments" <%= comment_display %>><%= card_comments_sorted.count %></td>
      <td class="comments" <%= comment_display %>>
        <% if !card_comments_sorted.empty? %>
          <span style="display:none;"><%= card_comments_sorted[0].created_at.to_i %></span>
          <%= format_datetime(card_comments_sorted[0].created_at) %> by <%= link_to_comment_user card_comments_sorted[0] %>
        <% end %>
      </td>
      <% if permission_to?(:edit, @cardset) && @cardset.configuration.use_addressing %>
        <td class="comments" <%= comment_display %>><%= card_comments_sorted.select { |c| c.unaddressed? }.count %></td>
      <% end %>
      <% if permission_to?(:edit, @cardset) %>
        <td><%= link_to "Edit", edit_card_path(card) %></td>
      <% end %>
      <% if permission_to?(:delete, @cardset) %>
        <td><%= link_to "Delete", card, {:confirm => "Really DELETE #{card.printable_name}?", :method => :delete, :remote => true, :class => "no_tooltip" } %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% else %>
  </table>
  No cards in this cardset!
<% end %>

<%= render "setviews" %>
