<h1>
  <%= link_to @cardset.name, @cardset %>: Card List
</h1>
<% @title = @cardset.name + ": Card List" %>

<%= render "setviews" %>

<br>
<% 
  hidden = 'style="display:none;"'.html_safe
  code_display = @cardset.configuration.cardlist_show_code ? "" : hidden
  active_display = @cardset.configuration.cardlist_show_active ? "" : hidden
  comment_display = @cardset.configuration.cardlist_show_comments ? "" : hidden
  creator_display = @cardset.public_access == "Editable" ? "" : hidden
  update_display = hidden
  
  can_edit = permission_to?(:edit, @cardset)
  can_delete = permission_to?(:delete, @cardset)
  unaddressed_column = can_edit && @cardset.configuration.use_addressing 
  cache_suffix = (can_edit ? "edityes" : "editno") + "_" + (can_delete ? "deleteyes" : "deleteno")
%>

<% cache(:action => "cardlist", :action_suffix => cache_suffix) do %>

<% all_cards = @cardset.listable_cards %>

<div class="controls">
  <% present_frame_letters = all_cards.map &:category_letter
     present_rarity_letters = all_cards.map &:rarity_letter
  %>
  <%= render :partial => "card_category_buttons", :locals => { :present_frame_letters => present_frame_letters, :present_rarity_letters => present_rarity_letters, :frame_links => nil} %>
  <br>
  <% toggleable_fields = [
      ["card_text", "card text", true],
      ["code", "code", @cardset.configuration.cardlist_show_code],
      ["active", "active", @cardset.configuration.cardlist_show_active],
      ["updated", "last update", false],
      ["comments", "comments", @cardset.configuration.cardlist_show_comments]
    ]%>
  <% toggleable_fields.each do |field_class, field_text, initially_shown| %>
    <span class="one_control" onclick="$$('.<%= field_class %>').invoke('toggle');"
      ><span class="<%= field_class %> shown_control" <%= initially_shown ? "" : hidden %>>Hide <%= field_text %></span
      ><span class="<%= field_class %> hidden_control" <%= initially_shown ? hidden : "" %>>Show <%= field_text %></span
    ></span>
  <% end %>  
</div>
<br>
<div>
<table class="sortable resizable">
  <tr>
    <th scope="col" class="sortfirstasc">#</th>
	<!-- th scope="col" class="creator" <%= creator_display %>>Creator</th -->
    <th scope="col">Name</th>
    <th scope="col" class="colour">Colour</th>
    <th scope="col" id="rarity">Rarity</th>
    <th scope="col" class="manacost">Cost</th>
    <th scope="col">Type</th>
    <th scope="col">P</th>
    <th scope="col">T</th>
    <th scope="col" class="code" <%= code_display %>>Code</th>
    <th scope="col" class="active" <%= active_display %>>Active?</th>
    <th scope="col" class="card_text">Card text</th>
    <th scope="col" class="updated" <%= update_display %>>Updated</th>
    <th scope="col" class="comments" <%= comment_display %>>Comments</th>
    <th scope="col" class="comments" <%= comment_display %>>Recent comment</th>
    <% if unaddressed_column %>
      <th scope="col" class="comments" <%= comment_display %>>Unaddressed</th>
    <% end %>
    <% if can_edit || can_delete %>
      <th scope="col" colspan="3" class="nosort">&nbsp;</th>
    <% end %>
  </tr>
<% if all_cards && !all_cards.empty? %>
  <% all_cards.sort.each_with_index do |card, index| %>
    <tr id="card_row_<%= card.id %>" class="code_hideable code_frame_<%= card.category_letter %> code_rarity_<%= card.rarity_letter %>">
      <td><%= index+1 %></td>
      <% "Fields that don't vary with multipart cards" %>
      <td><%= link_to_card card, card.listable_name %></td>
      <td><%= card.category %></td>
      <td><%= card.rarity.capitalize %></td>
      <% "Fields that vary with multipart cards" %>
      <% if !card.multipart? %>
        <td><span style="display:none;"><%= card.converted_mana_cost %></span><%= format_mana_symbols(card.cost, true) %></td>
        <td><%= displayed_type(card) %></td>
        <td><%= card.power %></td>
        <td><%= card.toughness %></td>
        <td class="code" <%= code_display %>><%= card.code %></td>
        <td class="active" <%= active_display %>><%= card.active ? "Yes" : "" %></td>
        <td class="card_text">
          <%= format_card_text(card, :rulestext) %>
        </td>
      <% else %>
        <% "Multipart. We know card is the primary." %>
        <% card2 = card.link 
           sep = card.separator %>
        <td><span style="display:none;"><%= card.converted_mana_cost %></span>
        <% if card.cost.blank? || card2.cost.blank? %>
          <%= nowrap(format_mana_symbols(card.cost, true)) %>
          <%= nowrap(format_mana_symbols(card2.cost, true)) %>
        <% else %>
          <%= nowrap(format_mana_symbols(card.cost, true)) %>
          <%= sep %>
          <%= nowrap(format_mana_symbols(card2.cost, true)) %>
        <% end %>
        </td>
        <td><%= separate_if_both_nonblank(displayed_type(card), displayed_type(card2), sep).html_safe %></td>
        <td><%= separate_if_both_nonblank(card.power, card2.power, sep) %></td>
        <td><%= separate_if_both_nonblank(card.toughness, card2.toughness, sep) %></td>
        <td class="code" <%= code_display %>><%= card.code %></td>
        <td class="active" <%= active_display %>><%= card.active ? "Yes" : "" %></td>
        <td class="card_text">
          <%= separate_if_both_nonblank(format_card_text(card, :rulestext),
                                        format_card_text(card2, :rulestext), sep) %>
        </td>
      <% end %>
      
      <td class="updated" <%= update_display %>>
        <span style="display:none;"><%= card.updated_at.to_i %></span>
        <%= format_datetime(card.updated_at) %> <%= by_last_edit_user_if_available card %>
      </td>
      <% card_comments_sorted = Comment.find(:all,
           :conditions => ["card_id = ?", card.id],
           :order => "comments.updated_at DESC") %>
      <td class="comments" <%= comment_display %>><%= card_comments_sorted.count %></td>
      <td class="comments" <%= comment_display %>>
        <% if !card_comments_sorted.empty? %>
          <span style="display:none;"><%= card_comments_sorted[0].created_at.to_i %></span>
          <%= format_datetime(card_comments_sorted[0].created_at) %> by <%= link_to_comment_user card_comments_sorted[0] %>
        <% end %>
      </td>
      <% if unaddressed_column %>
        <td class="comments" <%= comment_display %>><%= card_comments_sorted.select { |c| c.unaddressed? }.count %></td>
      <% end %>
      <% if can_edit %>
        <td><%= link_to "Edit", edit_card_path(card) %></td>
      <% end %>
      <% if can_delete %>
        <td><%= link_to "Delete", card, {:confirm => "Really DELETE #{card.printable_name}?", :method => :delete, :remote => true, :class => "no_tooltip" } %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% else %>
  </table>
  No cards in this cardset!
<% end %>

<% end # "Cache" %>

<%= render "setviews" %>
