<h1><%= link_to @cardset.name, @cardset %>: Export</h1>
<% @title = @cardset.name + ": Export" %>

<%= render "setviews" %>

<h3><i>Export formats for <%= @cardset.name %>:</i></h3>

<p>
  <%= link_to "Plain text spoiler", cardlist_cardset_path(@cardset, :format => :txt) %>
</p>
<p>
  <%= link_to "XML", cardlist_cardset_path(@cardset, :format => :xml) %>
</p>
<p>
  <%= link_to "CSV", cardlist_cardset_path(@cardset, :format => :csv) %>
</p>