<h1>
  <%= link_to @cardset.name, @cardset %>
</h1>
<% @title = "#{@cardset.name}: Export" %>

<%= render "setviews" %>

<h2>Export <%= @cardset.name %></h2>

<p>
  <%= link_to "Plain text spoiler", cardlist_cardset_path(@cardset, :format => :txt) %>
</p>
<p>
  <%= link_to "XML", cardlist_cardset_path(@cardset, :format => :xml) %>
</p>
<p>
  <%= link_to "CSV", cardlist_cardset_path(@cardset, :format => :csv) %>
</p>