<h1>
  <%= link_to @cardset.name, @cardset %>
</h1>

<h2>Import Data Into <%= @cardset.name %></h2>
<% @title = "Import into #{@cardset.name}" %>

<%= render 'shared/import_help' %>
<hr>
<%= form_tag :action => :import_data, :id => @cardset do %>
  <p><b>Separating character:</b>
  <%= text_field_tag "separator", params[:separator], :maxlength => 1 %>
  </p>
  <p><b>Formatting line:</b>
  <br>
  <%= text_field_tag "formatting_line", params[:formatting_line] %>
  </p>
  <p><b>Action on duplicate names/codes:</b>
  <br><%= radio_button_tag "duplicates", "duplicate", false %>
  <%= label :duplicates, :duplicate, "Add duplicate" %>
  <br><%= radio_button_tag "duplicates", "replace", true    %>
  <%= label :duplicates, :replace, "Replace with new" %>
  <br><%= radio_button_tag "duplicates", "preserve", false  %>
  <%= label :duplicates, :preserve, "Preserve old" %>
  </p>
  <p><b>Character-separated data:</b>
  <br>
  <%= text_area_tag "data", params[:data], :id => "import_data" %>
  </p>
  <p>
  <%= submit_tag "Import", :disabled_with => "Importing..." %>
  </p>
<% end %>

<%= link_to 'View cardset', @cardset %> |
<%= link_to 'See other cardsets', cardsets_path %>
