<h1><%= @title = "All cardsets" %></h1>

<% if signed_in? %>
  <%= link_to "Create a new cardset", new_cardset_path %>
<% else %>
  To create your own cardset, first <%= link_to "sign in", signin_path %> or <%= link_to "sign up", signup_path %>.
<% end %>

<br>
<%= render :partial => "shared/new_features", :locals => { :news_type => :link } %>
<br>
<span class="helptext">Generated at <%= format_datetime_absolute Time.now %></span>

<table class="sortable">
 <tr>
 <th>Set name</th>
 <th>Owner</th>
 <th>Public access</th>
 <th>Cards</th>
 <th class="sortfirstasc">Recent activity</th>
 <th>Description</th>
 </tr>
 <% Cardset.all.sort_by{|cs|cs.recent_action.datestamp}.reverse.each_with_index do |@cardset, index| %>
   <tr>
     <% set_viewable = permission_to? :view, @cardset %>
     <td><b><%= link_to @cardset.name, @cardset %></b></td>
     <td><%= link_to @cardset.user.name, @cardset.user %></td>
     <% access = @cardset.public_access  %>
     <td class="access_<%= access %>"><%= access %></td>
     <% if set_viewable %>
       <td><%= @cardset.cards.count %></td>
       <td>
         <% @log = @cardset.recent_action  %>
         <span style="display:none;"><%= "%08d" % index %></span><!-- for sorting -->
         <%= render :partial => "shared/log_entry", :locals => { :link_to_recent => true } %>
       </td>
       <td>
         <%= @cardset.description %>
       </td>
     <% else %>
       <td style="border-right: none;"></td>
       <td style="border-right: none; border-left: none;"><span style="display:none;">99999999</span><!-- for sorting --></td>
       <td style="border-left: none;"></td>
     <% end %>
   </tr>
 <% end %>
</table>

