<h1>Listing cardsets</h1>

<table>
  <tr>
    <th>Set name</th>
    <th>Creator</th>
    <th>Cards</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @cardsets.each do |cardset| %>
  <tr>
    <td><%= link_to cardset.name, cardset %></td>
    <td><%= User.find_by_id(cardset.user_id).name %></td>
    <td><%= cardset.cards.count %></td>
    <td><%= cardset.description %></td>
    <td><%= link_to 'Destroy', cardset, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cardset', new_cardset_path %>
