<h1><%= @title = "All cardsets" %></h1>

<% if signed_in? %>
  <%= link_to "New Cardset", new_cardset_path %>
<% else %>
  To create your own cardset, first <%= link_to "sign in", signin_path %> or <%= link_to "sign up", signup_path %>.
<% end %>

<br><br>

<table class="sortable">
 <tr>
 <th>Set name</th>
 <th>Owner</th>
 <th>Public access</th>
 <th>Cards</th>
 <!--
 <th style="text-align:right; border-right: none;" class="sortfirstasc">Recent</th>
 <th style="text-align:left; border-left: none;">activity</th>
 -->
 <th class="sortfirstasc">Recent activity</th>
 <th>Description</th>
 </tr>
 <% Cardset.all.sort_by{|cs|cs.recent_action.datestamp}.reverse.each_with_index do |@cardset, index| %>
   <tr>
     <% set_viewable = permission_to? :view, @cardset %>
     <td><%= link_to @cardset.name, @cardset %></td>
     <td><%= @cardset.user %></td>
     <% access = @cardset.public_access  %>
     <td class="access_<%= access %>"><%= access %></td>
     <% if set_viewable %>
       <td><%= @cardset.cards.count %></td>
       <td>
         <% action = @cardset.recent_action  %>
        <span style="display:none;"><%= index %></span><!-- for sorting -->
         <%= format_datetime action.datestamp %>:
       <!-- </td>
       <td> -->
         <% if action.user %><%= link_to action.user, action.user %><% else %><%= User.name_for(action.user_id) %><% end %>
         <%= action.past_tense_verb %> 
         <%= link_to_log_object action %>
       </td>
       <td>
         <%= @cardset.description %>
       </td>
     <% else %>
       <td colspan="99">&nbsp;</td>
     <% end %>
   </tr>
 <% end %>
</table>

