<h1><%= @title = "All cardsets" %></h1>

<table>
  <tr>
    <th>Set name</th>
    <th>Creator</th>
    <th>Cards</th>
    <th>Description</th>
  </tr>

<% @cardsets.each do |cardset| %>
  <tr>
    <td><%= link_to cardset.name, cardset %></td>
    <td><%= User.find_by_id(cardset.user_id).name %></td>
    <td><%= cardset.cards.count %></td>
    <td><%= cardset.description %></td>
  </tr>
<% end %>
</table>

<br />

<% if signed_in? %>
  <%= link_to 'New Cardset', new_cardset_path %>
<% else %>
  To create your own cardset, first <%= link_to "sign in", signin_path %> or <%= link_to "sign up", signup_path %>.
<% end %>
