<h1><%= @title = "All cardsets" %></h1>

<% if signed_in? %>
  <%= link_to "Create a new cardset", new_cardset_path %>
<% else %>
  To create your own cardset, first <%= link_to "sign in", signin_path %> or <%= link_to "sign up", signup_path %>.
<% end %>

<br>
<%= render :partial => "shared/new_features", :locals => { :news_type => :link } %>
<br>
<span class="helptext">Generated at <%= format_datetime_absolute Time.now %></span>

<% page_beyond_1 = (!params[:page].nil? && params[:page]>"1") %>
<% items_to_show = Cardset.includes(:user, :configuration).each.sort_by { |cs|
  if permission_to? :view, cs
    cs.recent_action.datestamp
  else
    Time.at(0)
  end
}.reverse %>
<% items_to_show = items_to_show.paginate(:page => params[:page], :per_page => 30) %>
<% if page_beyond_1 %>
  <%= will_paginate items_to_show %>
  <% "Show the pagination" %>
<% end %>
      
<table class="sortable">
 <tr>
 <th class="nosort">Set name</th>
 <th class="nosort">Owner</th>
 <th class="nosort">Public access</th>
 <th class="nosort">Cards</th>
 <th class="nosort" style="width:20em;">Recent activity</th>
 <th class="nosort">Description</th>
 </tr>
 <% items_to_show.each_with_index do |cardset, index| %>
   <% @cardset = cardset %>
   <tr>
     <% set_viewable = permission_to? :view, @cardset %>
     <td><b><%= link_to @cardset.name, @cardset %></b></td>
     <td><%= link_to @cardset.user.name, @cardset.user %></td>
     <% access = @cardset.public_access  %>
     <td class="access_<%= access %>"><%= access %></td>
     <% if set_viewable %>
       <td><%= @cardset.cards.count %></td>
       <td>
         <% @log = @cardset.recent_action  %>
         <span style="display:none;"><%= "%08d" % index %></span><!-- for sorting -->
         <%= render :partial => "shared/log_entry", :locals => { :link_to_recent => true } %>
       </td>
       <td>
         <%= @cardset.description %>
       </td>
     <% else %>
       <td style="border-right: none;"></td>
       <td style="border-right: none; border-left: none;"><span style="display:none;">99999999</span><!-- for sorting --></td>
       <td style="border-left: none;"></td>
     <% end %>
   </tr>
 <% end %>
</table>
<%= will_paginate items_to_show  %>

