<h1>
  <%= link_to @cardset.name, @cardset %>
</h1>
<% @title = "#{@cardset.name}: Plain-Text Spoiler" %>

<%= render 'setviews' unless @cardset.cards.empty? %>

<h2>Plain-Text Spoiler</h2>

<p class="plaintext_wrapper">

<% @cardset.cards.each do |card| %>
<%= render :partial => 'cards/plaincard', :locals => {:card => card} %>
<% end %>

</p>

<%= link_to 'View cardlist in HTML', cardlist_cardset_path(@cardset) %> |
<%= link_to 'See other cardsets', cardsets_path %>
