<h1>
  <%= link_to @cardset.name, @cardset %>
</h1>
<% @title = "#{@cardset.name}: Plain-Text Spoiler" %>

<%= render 'setviews' %>

<h2>Plain-Text Spoiler</h2>

<p class="plaintext_wrapper">

<% @cardset.cards.sort.each do |@card| # Can't indent this loop, because this is effectively inside <pre> %>
<%= render :partial => 'shared/plain_individual_card' %>
<% end %>

</p>

<%= link_to 'View cardlist in HTML', cardlist_cardset_path(@cardset) %> |
<%= link_to 'See other cardsets', cardsets_path %>
