<h1>
  <%= @title = "#{@cardset.name}: Recent Activity" %>
</h1>

<%= render 'setviews' %>

<% @owner = User.find_by_id(@cardset.user_id) %>
<% comments = Comment.find(:all, :include => :card,
     :conditions => ["cards.cardset_id = ?", @cardset.id])  %>
<% comments_and_cards = comments + @cardset.cards %>
<% comments_and_cards.sort! { |x, y| y.recency <=> x.recency }  # sort most recent items highest
   # TODO: Also remember cardset itself's properties
%>

<p>
  <% if !comments_and_cards.empty? %>
    Recent updates to <%= @cardset.name %>:

    <ul class="commentlist compact">
      <% comments_and_cards.take(200).each do |object| %>
        <li>
            <%= object.recency %>
            <% if object.kind_of?(Card) %>
              <%= link_to object.name, object %> was updated
            <% else %>
              <% @card = object.card %>
              Comment on <%= link_to @card.name, @card %>:
              <%= render :partial => 'shared/comment', :locals => { :comment => object } %>
            <% end %>
      <% end %>
    </ul>
  <% else %>
    There are no cards in <%= @cardset.name %>. There's been no activity.
  <% end %>
</div>

<%= link_to 'See other cardsets', cardsets_path %>
