<h1><%= link_to @cardset.name, @cardset %>: Recent Activity</h1>
<% @title = @cardset.name + ": Recent Activity" %>

<%= render "setviews" %>

<% log_kinds_to_not_show = [Log.kind(:comment_edit)]
   comment_kinds_to_not_show = [Log.kind(:comment_edit)]
   items_to_show = @cardset.logs.reject{ |l| log_kinds_to_not_show.include?(l.kind) }.paginate :page => params[:page] || 1, :per_page => 50 %>

<p>
  <% if !items_to_show.empty? %>
    Recent updates to <%= @cardset.name %>:

    <%= will_paginate items_to_show  %>

    <ul class="commentlist compact">
      <% items_to_show.each do |@log| %>
        <li class="recent_item">
          <%= render :partial => "log_entry", :locals => { :link_to_recent => false } %>
          <% if @log.comment? && !comment_kinds_to_not_show.include?(@log.kind) %>
            <% @comment = Comment.find_by_id(@log.object_id) %>
            <% if @comment %>
              <%= render :partial => "shared/comment", :locals => { :buttons => false } %>
            <% end %>
          <% end %>
      <% end %>
    </ul>

    <%= will_paginate items_to_show %>
  <% else %>
    There are no cards in <%= @cardset.name %>. There's been no activity.
  <% end %>
</div>

<%= link_to "See other cardsets", cardsets_path %>
