<h1><%= link_to @cardset.name, @cardset %>: Recent Activity</h1>
<% @title = @cardset.name + ": Recent Activity" %>

<%= render "setviews" %>

<% use_proper_list = (!params[:page].nil? && params[:page]>"1") %>
<% kinds_to_not_show = Log.kinds_to_not_show(:cardset_recent) %>
<% if use_proper_list %>
   <% items_to_show = @cardset.logs.reject{ |l| kinds_to_not_show.include?(l.kind) }.paginate :page => params[:page] || 1, :per_page => NewsList.MAX_LENGTH %>
<% else %>
  <% items_to_show = @cardset.news_list.get_logs.reverse %>
<% end %>

<% if use_proper_list %>
  <% pages_list = will_paginate(items_to_show) %>
<% else %>
  <% pages_list = "<br><i>Page 1</i>" %>
  <% if items_to_show.length >= NewsList.MAX_LENGTH %>
    <% pages_list += " - " + link_to("Older activity", recent_cardset_path(@cardset, :page => 2)) %>
  <% end %>
  <% pages_list = pages_list.html_safe %>
<% end %>


<p>
  <% if true || !items_to_show.empty? %>
    Recent updates to <%= @cardset.name %>: <span class="helptext">(Generated at <%= format_datetime_absolute Time.now %>)</span>

    <%= pages_list %>

    <ul class="commentlist compact">
      <% items_to_show.each do |log| %>
        <% @log = log %>
        <li class="recent_item">
          <%= render :partial => "shared/log_entry", :locals => { :link_to_recent => false, :hard_format_date => false } %>
          <% if @log.comment? && !kinds_to_not_show.include?(@log.kind) %>
            <% @comment = Comment.find_by_id(@log.object_id) %>
            <% if @comment && @comment.get_cardset == @cardset %>
              <%= render :partial => "shared/comment", :locals => { :show_buttons => true, :show_date => false } %>
            <% end %>
          <% end %>
      <% end %>
    </ul>

    <%= pages_list %>
  <% else %>
    There are no cards in <%= @cardset.name %>. There's been no activity.
  <% end %>
</div>

<div>
<%= link_to "See other cardsets", cardsets_path %>
</div>
