<h1>
  <%= @title = "#{@cardset.name}: Recent Activity" %>
</h1>

<%= render 'setviews' %>

<% @owner = User.find_by_id(@cardset.user_id) %>
<% card_comments = Comment.find(:all, :include => :card,
     :conditions => ["cards.cardset_id = ?", @cardset.id])  %>
<% recent_items = card_comments + @cardset.cards + @cardset.details_pages + @cardset.comments %>
<% recent_items.sort! { |x, y| y.recency <=> x.recency }  # sort most recent items highest
   # TODO: Also remember cardset itself's properties
%>
<% items_to_show = recent_items.paginate :page => params[:page] || 1, :per_page => 50 %>

<p>
  <% if !recent_items.empty? %>
    Recent updates to <%= @cardset.name %>:

    <%= will_paginate items_to_show  %>

    <ul class="commentlist compact">
      <% items_to_show.each do |object| %>
        <li class="recent_item">
            <%= format_datetime object.recency %>
            <% if object.kind_of?(Card) %>
              <%= link_to object.name, object %> was <% if object.created_at == object.updated_at %>created<% else %>updated<% end %>
            <% elsif object.kind_of?(DetailsPage) %>
              Page <%= link_to object.title, [@cardset, object] %> was <% if object.created_at == object.updated_at %>created<% else %>updated<% end %>
            <% elsif object.kind_of?(Comment) %>
              <% if !object.card.nil? %>
                <% @target = object.card %>
              <% elsif !object.cardset.nil? %>
                <% @target = object.cardset %>
              <% else %>
                <% raise "Comment on an unidentifiable object: #{object.inspect}" %>
              <% end %>
              <%= link_to_unless object.user.nil?, object.display_user, object.user %>
              commented on
              <%= link_to @target.name, @target %>:
              <!-- %= simple_format h(object.comment), :class => "commentbody" % -->
              <% @comment = object %>
              <%= render :partial => 'shared/comment', :locals => { :buttons => false } %>
            <% else %>
              <% raise "Unknown object in recent items list: #{object.inspect}" %>
            <% end %>
      <% end %>
    </ul>

    <%= will_paginate items_to_show %>
  <% else %>
    There are no cards in <%= @cardset.name %>. There's been no activity.
  <% end %>
</div>

<%= link_to 'See other cardsets', cardsets_path %>
