<h1>
  <%= @title = @cardset.name %>
</h1>

<% @allmycards = @cardset.cards %>
<% @myactivecards = @allmycards.map{ |card| card.active? } %>
<% @owner = User.find_by_id(@cardset.user_id) %>
<% sortedcomments = Comment.find(:all, :include => :card,
     :conditions => ["cards.cardset_id = ?", @cardset.id])  %>
<% highlightedcomments = sortedcomments.select { |c| c.highlighted? } %>
<% stats = @cardset.get_stats %>

<div class="infobox">
  <h1>
    <%= @cardset.name %> by <%= link_to @owner.name, @owner %>
  </h1>
  <p>
    <%= @allmycards.length %> cards in Multiverse
    <!-- <% if ! @myactivecards.all? %>
      (<%= @myactivecards.length %> active)
    <% end %> -->
  </p>
  <p>
    <% rarity_stats = stats[:by_rarity].map { |rarity, count| pluralize(count, rarity) } %>
    <%= rarity_stats.join(", ") %>
  </p>
  <p>
    <% colour_stats = stats[:by_colour].map { |colour, count| "#{count} #{colour}" } %>
    <%= colour_stats.join(", ") %>
  </p>
  <p>
    <%= sortedcomments.count %> comments total
  </p>

</div>

<p>
  <%= @cardset.description %>
</p>

<%= render 'setviews' unless @allmycards.empty? %>


<% if signed_in_as_admin?(@cardset) %>
    <%= link_to "Delete entire cardset", @cardset,
      :confirm => "Really delete this whole cardset and all cards in it?",
      :method => :delete %>
<% end %>

<p>
</p>


<% if !highlightedcomments.empty? %>
  <p>The set creator would like to draw your attention to these comments:
    <table>
    <% highlightedcomments.each_slice(5) do |comments_slice| %>
      <tr>
      <% comments_slice.each do |comment| %>
        <td>
        <% @card = comment.card %>
        On <%= link_to @card.name, @card %> (<%= link_to "reply", @card %>):
        <%= render :partial => 'shared/comment', :locals => { :comment => comment } %>
        </td>
      <% end %>
      </tr>
    <% end %>
    </table>
  </p>
<% end %>


<% recentcards = Card.order("updated_at DESC").find_all_by_cardset_id(@cardset.id, :limit => 5) %>

<p>
  <% if !recentcards.empty? %>
    Recently updated cards:
    <table>
     <tr>
      <% recentcards.each do |@card| %>
       <td>
        <%= render :partial => 'shared/prettycard', :locals => { :link => true } %>
        <%= render :partial => 'shared/cardcommentcount' %>
       </td>
      <% end %>
     </tr>
    </table>
  <% else %>
    <% if signed_in_as_admin?(@cardset) %>
      There are no cards in this cardset. Why not
      <%= link_to "add a card", new_card_path(:cardset_id => @cardset.id) %>
      or
      <%= link_to "import some", import_cardset_path %>?
    <% else %>
      The cardset owner, <%= link_to @owner.name, @owner %>, has not added any cards to this cardset yet.
    <% end %>
  <% end %>
</p>

<div>
  <% if sortedcomments.empty? %>
    There are no comments on any cards in the cardset.
    <% if !recentcards.empty? %>
      <% if signed_in_as_admin?(@cardset) %>
        Why not ask for some feedback on a few cards from visitors, by posting some comments and highlighted them?
      <% else %>
        Why not browse the cards and add your thoughts?
      <% end %>
    <% end %>
  <% else %>
    Recent comments:
    <ul class="commentlist">
      <% sortedcomments.take(10).each do |comment| %>
        <% if comment.nil? %>
          <% if Rails.env.development? %>
            NIL
          <% end %>
        <% else %>
          <% @card = comment.card %>
          <li>On <%= link_to @card.name, @card %>:
          <%= render :partial => 'shared/comment', :locals => { :comment => comment } %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>

<%= link_to 'See other cardsets', cardsets_path %>
