<h1>
  <%= @title = @cardset.name %>
</h1>

<% @allmycards = @cardset.cards %>
<% @myactivecards = @allmycards.map{ |card| card.active? } %>
<% @owner = User.find_by_id(@cardset.user_id) %>
<% sortedcomments = Comment.find(:all, :include => :card,
     :conditions => ["cards.cardset_id = ?", @cardset.id])  %>
<% highlightedcomments = sortedcomments.select { |c| c.highlighted? } %>
<% stats = @cardset.get_stats %>
<% @category_order = Card.first.category_order %>

<div class="infobox">
  <h1>
    <%= @cardset.name %> by <%= link_to @owner.name, @owner %>
  </h1>
  <p>
    <%= @allmycards.length %> cards in Multiverse
    <!-- <% if ! @myactivecards.all? %>
      (<%= @myactivecards.length %> active)
    <% end %> -->
  </p>
  <p>
    <% rarity_stats = stats[:by_rarity].map { |rarity, count| pluralize(count, rarity) } %>
    <%= rarity_stats.join(", ") %>
  </p>
  <p>
    <% category_stats = stats[:by_category].map { |category, count| [category, count] } %>
    <%= category_stats.sort { |pair1, pair2|
          @category_order.index(pair1[0]) <=> @category_order.index(pair2[0])
        }.map { |category, count|
          "#{count} #{category}"
        }.join(", ").downcase %>
  </p>
  <p>
    <%= sortedcomments.count %> comments total
  </p>

</div>

<p>
  <%= @cardset.description %>
</p>

<%= render 'setviews' unless @allmycards.empty? %>


<% if signed_in_as_admin?(@cardset) %>
    <%= link_to "Delete entire cardset", @cardset,
      :confirm => "Really delete this whole cardset and all cards in it?",
      :method => :delete %>
<% end %>

<p>
  <% if permission_to_comment(@cardset) %>
    <%= link_to "Add a comment on this cardset", new_cardset_comment_path( @cardset) %>
  <% end %>
</p>


<% if @cardset.configuration.use_highlighting %>
  <% if !highlightedcomments.empty? %>
    <p>The set creator would like to draw your attention to these comments:
      <table>
      <% highlightedcomments.each_slice(5) do |comments_slice| %>
        <tr>
        <% comments_slice.each do |comment| %>
          <td>
          <% @card = comment.card %>
          On <%= link_to @card.name, @card %> (<%= link_to "reply", @card %>):
          <%= render :partial => 'shared/comment', :locals => { :comment => comment } %>
          </td>
        <% end %>
        </tr>
      <% end %>
      </table>
    </p>
  <% end %>
<% end %>


<% recentcards = Card.order("updated_at DESC").find_all_by_cardset_id(@cardset.id, :limit => 5) %>

<p>
  <% if !recentcards.empty? %>
    Recently updated cards: (<%= link_to "all recent activity", recent_cardset_path %>)
    <table>
     <% recentcards.each_slice(@cardset.cards_per_line) do |cards| %>
      <tr>
       <% cards.each do |@card| %>
        <td>
         <%= render :partial => 'shared/card', :locals => { :link => true } %>
         <%= render :partial => 'shared/cardcommentcount' %>
        </td>
       <% end %>
      </tr>
     <% end %>
    </table>
  <% else %>
    <% if signed_in_as_admin?(@cardset) %>
      There are no cards in this cardset. Why not
      <%= link_to "add a card", new_card_path(:cardset_id => @cardset.id) %>
      or
      <%= link_to "import some", import_cardset_path %>?
    <% else %>
      The cardset owner, <%= link_to @owner.name, @owner %>, has not added any cards to this cardset yet.
    <% end %>
  <% end %>
</p>

<div>
  <% if sortedcomments.empty? %>
    There are no comments on any cards in the cardset.
    <% if !recentcards.empty? %>
      <% if signed_in_as_admin?(@cardset) %>
        Why not ask for some feedback on a few cards from visitors, by posting some comments and highlighted them?
      <% else %>
        Why not browse the cards and add your thoughts?
      <% end %>
    <% end %>
  <% else %>
    Recent comments: (<%= link_to "all recent activity", recent_cardset_path %>)
    <ul class="commentlist">
      <% num_comments_to_show = 10
         first_index = [0, sortedcomments.length - num_comments_to_show].max
         comments_to_show = sortedcomments[first_index..-1].reverse %>
      <% comments_to_show.each do |comment| %>
        <% if comment.nil? %>
          <% if Rails.env.development? %>
            NIL
          <% end %>
        <% else %>
          <% @card = comment.card %>
          <li>On <%= link_to @card.name, @card %>:
          <%= render :partial => 'shared/comment', :locals => { :comment => comment } %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>

<%= link_to 'See other cardsets', cardsets_path %>
