<h1>
  <%= @cardset.name %>
</h1>

<p>
  <%= @cardset.description %>
</p>

<% if signed_in? %>
  <p><!-- style="display: inline-block; margin-left: 200px;"> -->
    Admin actions:
    <%= link_to "Edit description", edit_cardset_path(@cardset) %>;
    <%= link_to "New card", new_card_path(:cardset_id => @cardset.id) %>;
    <%= link_to "Import data", import_cardset_path(@cardset) %>
  </p>
<% end %>

<p>
  <b>Creator:</b>
  <% @owner = User.find_by_id(@cardset.user_id) %>
  <%= link_to @owner.name, @owner %>
</p>

<% @allmycards = @cardset.cards %>
<% @myactivecards = @allmycards.map{ |card| card.active? } %>
<p><%= @allmycards.length %> cards in Multiverse
<% if ! @myactivecards.all? %>
  (<%= @myactivecards.length %> active)
<% end %>

<!-- something to do with highlighted cards
  <p>The set creator would like to draw your attention to these comments:
  all highlighted comments.do
    On <###%= link_to @comment.card %###>: <###%= @comment.comment %###>

  -->

<p>Recently updated cards:
 <table>
  <tr>
   <% Card.order("updated_at DESC").find_all_by_cardset_id(@cardset.id, :limit => 5).each do |@card| %>
    <td>
     <%= render :partial => 'shared/prettycard' %>
     <%= link_to "Comments (#{@card.comments.count})", @card %>
     <% if signed_in? %>
      | <%= link_to "Edit", edit_card_path(@card) %>
     <% end %>
    </td>
   <% end %>
  </tr>
 </table>
</p>

<!-- nested find is fiddly
  <p>Recent comments:
  <###% Comment.order("updated_at").find(:cafind_by_cardset_id(:last, :card_id => @c  :limit => 10)
  @allmycards
  -->
<%= link_to 'Full cardlist', cardlist_cardset_path(@cardset) %> |
<%= link_to 'See other cardsets', cardsets_path %>
