<h1><%= link_to @cardset.name, @cardset %>: Skeleton</h1>
<% @title = @cardset.name + ": Skeleton" %>

     <%= render "cardsets/setviews" %>

<%= javascript_include_tag "fabtabulous.js" %>

<br>
<ul class="cardtabs" id="tabs">
 <li><a href="#about"    id="about_link"   >About</a></li>
<% if permission_to?(:admin, @cardset) %><li><a href="#generate" id="generate_link">Generate</a></li><% end %>
<% if !@skeleton.nil? %><li><a href="#view"     id="view_link"    >View</a></li><% end %>
</ul>
<% if permission_to?(:edit, @cardset) && !@skeleton.nil? %>
  <ul class="cardtabs">
   <li><%= link_to "Edit", edit_cardset_details_page_path(@cardset, @skeleton) %></li>
  </ul>
<% end %>

<br>
<!-- About tab -->
<div class="onetab" id="about"><a name="about"></a>
  <h2>About Set Skeletons</h2>
  <p>A set skeleton is a tool to help you when structuring your set. It helps you keep the number of different types of card balanced across colours and balanced in line with the colour pie. It's particularly useful in early design when you're wanting to make sure you have the right amounts of creatures and other card types in the different colours. 
  </p>
  <p>To read more about skeletons, read <a href="http://www.wizards.com/magic/magazine/Article.aspx?x=mtg/daily/mm/78">Mark Rosewater's article "Design Skeletons"</a>.
  <h2>About Set Skeletons In Multiverse</h2>
  <p>In Multiverse, set skeletons are a particular type of details page, using tables written in the <a href="http://michelf.com/projects/php-markdown/extra/#table">Markdown Extra table syntax</a>. Multiverse will generate the rows of the table for you.</p>
  <p>Once you've generated your skeleton, each row will start with a link like "(CW01)". At first, these links will be in parentheses, to indicate that no card yet exists with that code. You can click on links like these to create a card with that code. Once those cards exist, the links will no longer be in parentheses. You can thus easily tell which slots in your skeleton have no card at all corresponding to them, and which have at least some information on a card (even if that card is not ready or not even complete).</p>
  <% if permission_to?(:admin, @cardset) %>
    <p>To get started, click the "Generate" tab above!</p>
  <% end %>
</div>
<!--  Generate tab -->
<div class="onetab" id="generate"><a name="generate"></a>
<%= form_tag :action => :generate_skeleton, :id => @cardset do %>
  <table class="skeleton_generate">
    <tr><td></td><td colspan="3">Generate codes for:</td>
    <td colspan="2">
    <select onchange="if(this.value) { $(this.value + '_row').show(); $(this.value + '_option').remove(); } return false;">
      <option value="">(Add more fields:)</option>
      <option value="allygold" id="allygold_option">Gold cards in allied-colour pairs</option>
      <option value="enemygold" id="enemygold_option">Gold cards in enemy-colour pairs</option>
      <option value="allyhybrid" id="allyhybrid_option">Hybrid cards in allied-colour pairs</option>
      <option value="enemyhybrid" id="enemyhybrid_option">Hybrid cards in enemy-colour pairs</option>
    </select></td>
    </tr>
    <% frame_sections = [["white", "White cards (also blue,<br>black, red and green cards)", true],
        ["artifact", "Artifact cards", true], 
        ["land", "Land cards", true],
        ["allygold", "White-blue gold cards and<br>each allied-colour pair", false], 
        ["enemygold", "White-black gold cards and<br>each enemy-colour pair", false], 
        ["allyhybrid", "White-blue hybrid cards and<br>each allied-colour pair", false], 
        ["enemyhybrid", "White-black hybrid cards and<br>each enemy-colour pair", false], 
        ] %>
    <% rarity_sections = [["rarityC", "commons,"], 
        ["rarityU", "uncommons,"], 
        ["rarityR", "rares and"],
        ["rarityM", "mythics"]]; %>
    <% frame_sections.each do |section| %>
    <% frame, description, showing = section %>
    <tr id="<%= frame %>_row" <% unless showing %>style="display: none;"<% end %>>
      <td><%= description.html_safe %>
      <% rarity_sections.each do |rarity_section| %>
        <% rarity, description = rarity_section %>
        <td><%= number_field_tag "#{frame}_#{rarity}", nil, :onchange => "update_generate_totals();" %> <%= description %>
      <% end %>
      <td>(<span id="total_<%= frame %>">0</span> total)
    </tr>
    <% end %>
    <tr>
      <td>For a total of
      <td><span id="total_rarityC">0</span> commons,
      <td><span id="total_rarityU">0</span> uncommons,
      <td><span id="total_rarityR">0</span> rares and
      <td><span id="total_rarityM">0</span> mythics
      <td>(<span id="grand_total">0</span> cards total).
  </table>
  <div>
  <!-- %= submit_tag "Generate!", :disabled_with => "Generating..." % -->
  <button value="Generate!" disabled>Generate!</button> - <i>Note: 
  Skeleton generation is not yet supported. Check back soon. In the meantime, you can use the table above to plan out your
  skeleton, and then copy lines from <a href="/cardsets/2/details_pages/50">the test skeleton</a></i>.
  </div><div>
  <!-- (Note: This just generates the lines of the skeleton table. You can edit the table before you
  create any cards.) -->
  </div>
<% end %>
</div>
<!-- View tab -->
<% Rails.logger.info @skeleton.inspect %>
<% if !@skeleton.nil? %>
  <div class="onetab" id="view"><a name="view"></a>
    <% select_frames_regexp = /^[|]?\s*\(\(\([CURM]([A-Z])/
    present_frame_letters = @skeleton.body.lines.grep(select_frames_regexp) do |line|
      line.match(select_frames_regexp)[1]
    end.uniq %>
    <% frame_toggle_letters = Card.frame_code_letters.select {|l| present_frame_letters.include?(l)} %>
    <% if frame_toggle_letters.any? %>
      Show frames:
      <% frame_toggle_letters.each do |letter| %>
        <span id="frame_<%= letter %>_toggle" class="skeleton_letter_toggle code_shown code_frame_<%= letter %>" onclick="toggle_frame_letter(this)"><%= letter %></span>
      <% end %>
    <% end %>
    <br>
      Show rarities:
      <% ["C", "U", "R", "M"].each do |letter| %>
        <span id="rarity_<%= letter %>_toggle" class="skeleton_letter_toggle code_shown" onclick="toggle_rarity_letter(this)"><%= letter %></span>
      <% end %>
    <%= format_skeleton_table(format_all_markup(@skeleton.body, @cardset)) %>
  </div>
<% end %>
<% if flash[:error]
     desired_tab = "generate"
   elsif @skeleton.nil?
     desired_tab = "about"
   else 
     desired_tab = "view"
   end
%>
  <script type="text/javascript">
     new Fabtabs("tabs", "<%= desired_tab %>_link");
  </script>
     