<h1><%= link_to @cardset.name, @cardset %>: Skeleton</h1>
<% @title = @cardset.name + ": Skeleton" %>

     <%= render "cardsets/setviews" %>

<br>
<ul class="cardtabs" id="tabs">
 <li><a href="#about"    id="about_link"   >About</a></li>
<% if permission_to?(:admin, @cardset) %><li><a href="#generate" id="generate_link">Generate</a></li><% end %>
<% if !@skeleton.nil? %><li><a href="#view"     id="view_link"    >View</a></li><% end %>
</ul>
<% if permission_to?(:edit, @cardset) && !@skeleton.nil? %>
  <ul class="cardtabs">
   <li><%= link_to "Edit", edit_cardset_details_page_path(@cardset, @skeleton) %></li>
  </ul>
<% end %>

<br>

<!-- ----------------------- About tab ----------------------- -->

<div class="onetab" id="about"><a name="about"></a>
  <h2>About Set Skeletons</h2>
  <p>A set skeleton is a tool to help you when structuring your set. It helps you keep the number of different types of card balanced across colours and balanced in line with the colour pie. It's particularly useful in early design when you're wanting to make sure you have the right amounts of creatures and other card types in the different colours. 
  </p>
  <p>To read more about skeletons, read <a href="http://www.wizards.com/magic/magazine/Article.aspx?x=mtg/daily/mm/78">Mark Rosewater's article "Design Skeletons"</a>.
  <h2>About Set Skeletons In Multiverse</h2>
  <p>In Multiverse, set skeletons are a particular type of details page, using tables written in the <a href="http://michelf.com/projects/php-markdown/extra/#table">Markdown Extra table syntax</a>. Multiverse will generate the rows of the table for you. If you let Multiverse generate the whole skeleton, it will give you columns for Code, Slot and Card name. If you add extra columns by editing the title rows, then the Generate tab will create the right number of columns for each new row it generates.</p>
  <p>Once you've generated your skeleton, each row will start with a link like "(CW01)". At first, these links will be in parentheses, to indicate that no card yet exists with that code. You can click on links like these to create a card with that code. Once those cards exist, the links will no longer be in parentheses. You can thus easily tell which slots in your skeleton have no card at all corresponding to them, and which have at least some information on a card (even if that card is not ready or not even complete).</p>
  <% if permission_to?(:admin, @cardset) %>
    <p>To get started, click the "Generate" tab above!</p>
  <% end %>
</div>

<!-- ----------------------- Generate tab ----------------------- -->

<div class="onetab" id="generate"><a name="generate"></a>
<%= form_tag :action => :generate_skeleton, :id => @cardset do %>
  <table class="skeleton_generate">
    <tr><td></td><td colspan="3">Generate codes for:</td>
    <td colspan="2">
    <select onchange="if(this.value) { $(this.value + '_row').show(); $(this.value + '_option').remove(); } return false;">
      <option value="">(Add more fields:)</option>
      <option value="allygold" id="allygold_option">Gold cards in allied-colour pairs</option>
      <option value="enemygold" id="enemygold_option">Gold cards in enemy-colour pairs</option>
      <option value="allyhybrid" id="allyhybrid_option">Hybrid cards in allied-colour pairs</option>
      <option value="enemyhybrid" id="enemyhybrid_option">Hybrid cards in enemy-colour pairs</option>
    </select></td>
    </tr>
    <% frame_sections = [["white", "White cards (also blue,<br>black, red and green cards)", true],
        ["artifact", "Artifact cards", true], 
        ["land", "Land cards", true],
        ["allygold", "White-blue gold cards and<br>each allied-colour pair", false], 
        ["enemygold", "White-black gold cards and<br>each enemy-colour pair", false], 
        ["allyhybrid", "White-blue hybrid cards and<br>each allied-colour pair", false], 
        ["enemyhybrid", "White-black hybrid cards and<br>each enemy-colour pair", false], 
        ] %>
    <% rarity_sections = [["rarityC", "commons,"], 
        ["rarityU", "uncommons,"], 
        ["rarityR", "rares and"],
        ["rarityM", "mythics"]]; %>
    <% frame_sections.each do |section| %>
    <% frame, description, showing = section %>
    <tr id="<%= frame %>_row" <% unless showing %>style="display: none;"<% end %>>
      <td><%= description.html_safe %>
      <% rarity_sections.each do |rarity_section| %>
        <% rarity, description = rarity_section %>
        <td><%= number_field_tag "skeletonform_#{frame}_#{rarity}", nil, :onchange => "update_generate_totals();" %> <%= description %>
      <% end %>
      <td>(<span id="total_<%= frame %>">0</span> total)
    </tr>
    <% end %>
    <tr>
      <td>For a total of
      <td><span id="total_rarityC">0</span> commons,
      <td><span id="total_rarityU">0</span> uncommons,
      <td><span id="total_rarityR">0</span> rares and
      <td><span id="total_rarityM">0</span> mythics
      <td>(<span id="grand_total">0</span> cards total).
  </table>
  <div>
    <div class="button_outer"><div class="button_inner">
      <%= submit_tag "Generate!", :disabled_with => "Generating..." %>
    </div></div>
  </div
  ><div>
  (Note: This just generates the lines of the skeleton table. You can edit the table before you
  create any cards.)
  </div>
<% end %>
  <div><select onchange="$$('.breakup').invoke('hide'); if(this.value) { $(this.value + '_breakup').show(); } return false;"
               onkeyup="$$('.breakup').invoke('hide'); if(this.value) { $(this.value + '_breakup').show(); } return false;">
        <option value="" id="allygold_option">Show examples:</option>
        <%= options_for_select ["Zendikar", "Worldwake", "Shards of Alara", "Conflux", "Scars of Mirrodin"] %>
  </select></div>

  <div class="breakup" id="Zendikar_breakup" style="display:none;">
  <table>
   <tr>
    <td><i>Zendikar</i>
    <th scope="col">commons
    <th scope="col">uncommons
    <th scope="col">rares
    <th scope="col">mythics
    <th scope="col">total
   <tr>
    <th scope="row">White, blue, black,<br>red and green
    <td>18
    <td>10
    <td>7-9
    <td>2-3
    <td>38-39
   <tr>
    <th scope="row">Artifacts
    <td>6
    <td>5
    <td>2
    <td>2
    <td>15
   <tr>
    <th scope="row">Lands
    <td>5
    <td>5
    <td>10
    <td>0
    <td>20
   <tr>
    <th scope="row">Total:
    <td>101
    <td>60
    <td>53
    <td>15
    <td>229
  </table>
  </div>

  <div class="breakup" id="Worldwake_breakup" style="display:none;">
  <table>
   <tr>
    <td><i>Worldwake</i>
    <th scope="col">commons
    <th scope="col">uncommons
    <th scope="col">rares
    <th scope="col">mythics
    <th scope="col">total
   <tr>
    <th scope="row">White, blue, black,<br>red and green
    <td>10
    <td>7
    <td>5-6
    <td>1-2
    <td>23-24
   <tr>
    <th scope="row">Multicolour
    <td>0
    <td>0
    <td>0
    <td>2
    <td>2
   <tr>
    <th scope="row">Artifacts
    <td>4
    <td>3
    <td>4
    <td>0
    <td>11
   <tr>
    <th scope="row">Lands
    <td>6
    <td>2
    <td>5
    <td>1
    <td>14
   <tr>
    <th scope="row">Total:
    <td>60
    <td>40
    <td>35
    <td>10
    <td>145
  </table>
  </div>
  
  <div class="breakup" id="Shards of Alara_breakup" style="display:none;">
  <table>
   <tr>
    <td><i>Shards of Alara</i>
    <th scope="col">commons
    <th scope="col">uncommons
    <th scope="col">rares
    <th scope="col">mythics
    <th scope="col">total
   <tr>
    <th scope="row">White, blue, black,<br>red and green
    <td>15
    <td>7
    <td>8
    <td>0-1
    <td>30-31
   <tr>
    <th scope="row">Multicolour
    <td>15
    <td>20
    <td>10
    <td>12
    <td>57
   <tr>
    <th scope="row">Artifacts
    <td>6
    <td>0
    <td>3
    <td>1
    <td>10
   <tr>
    <th scope="row">Lands
    <td>5
    <td>5
    <td>0
    <td>0
    <td>10
   <tr>
    <th scope="row">Total:
    <td>111
    <td>60
    <td>52
    <td>13
    <td>229
  </table>
  </div>
  
  <div class="breakup" id="Conflux_breakup" style="display:none;">
  <table>
   <tr>
    <td><i>Conflux</i>
    <th scope="col">commons
    <th scope="col">uncommons
    <th scope="col">rares
    <th scope="col">mythics
    <th scope="col">total
   <tr>
    <th scope="row">White, blue, black,<br>red and green
    <td>9
    <td>5
    <td>4-6
    <td>0-1
    <td>18-20
   <tr>
    <th scope="row">Multicolour
    <td>10
    <td>11
    <td>8
    <td>7
    <td>36
   <tr>
    <th scope="row">Artifacts
    <td>4
    <td>1
    <td>2
    <td>0
    <td>7
   <tr>
    <th scope="row">Lands
    <td>1
    <td>3
    <td>1
    <td>0
    <td>5
   <tr>
    <th scope="row">Total:
    <td>60
    <td>40
    <td>35
    <td>10
    <td>145
  
  </table>
  </div>
  
  <div class="breakup" id="Scars of Mirrodin_breakup" style="display:none;">
  <table>
   <tr>
    <td><i>Scars of Mirrodin</i>
    <th scope="col">commons
    <th scope="col">uncommons
    <th scope="col">rares
    <th scope="col">mythics
    <th scope="col">total
   <tr>
    <th scope="row">White, blue, black,<br>red and green
    <td>13
    <td>7
    <td>5-6
    <td>1-2
    <td>26-27
   <tr>
    <th scope="row">Multicolour
    <td>0
    <td>0
    <td>0
    <td>1
    <td>1
   <tr>
    <th scope="row">Artifacts
    <td>35
    <td>25
    <td>21
    <td>7
    <td>88
   <tr>
    <th scope="row">Lands
    <td>1
    <td>0
    <td>5
    <td>0
    <td>6
   <tr>
    <th scope="row">Total:
    <td>101
    <td>60
    <td>53
    <td>15
    <td>229
    
  </table>
  </div>
  
  <div class="breakup" id="Mirrodin Besieged_breakup" style="display:none;">
  <table>
   <tr>
    <td><i>Mirrodin Besieged</i>
    <th scope="col">commons
    <th scope="col">uncommons
    <th scope="col">rares
    <th scope="col">mythics
    <th scope="col">total
   <tr>
    <td>White, blue, black,<br>red and green
  </table>
  </div>
</div>

<!-- ----------------------- View tab ----------------------- -->

<% if !@skeleton.nil? %>
  <% cache do %>
    <div class="onetab skeleton" id="view"><a name="view"></a>
      <% present_rarity_letters, present_frame_letters = @skeleton.body.lines.grep(Cardset.skeleton_line_regexp_MD) do |line|
        line.match(Cardset.skeleton_line_regexp_MD)[1,2]
      end.transpose %>
      <% if !present_frame_letters.blank? %>
        <%= render :partial => "card_category_buttons", :locals => { :present_frame_letters => present_frame_letters, :present_rarity_letters => present_rarity_letters, :frame_links => nil} %>
      <% end %>
      <% if !@cardset.configuration.card_show_code %>
        Note: Skeletons work most effectively if 
      <%= link_to "the cardset is configured to use card codes", edit_cardset_path(@cardset) %>.
      <% end %>
      <% if @cardset.configuration.card_show_active %>
        <div class="button_outer"><div class="button_inner">
          <%= button_to "Mark all cards in skeleton as active", activate_cardset_path(@cardset), params: { mode: :activate_all_skeleton}, confirm: "Set active=true on all cards in skeleton?" %>
        </div></div>
        <div class="button_outer"><div class="button_inner">
          <%= link_to "Mark all cards not in skeleton as inactive", activate_cardset_path(@cardset, mode: "deactivate_nonskeleton"), { rel: "nofollow", confirm: "Set active=false on all cards that aren't in the skeleton?" } %>
        </div></div>
      <% end %>
      
      <% "add pipes to starts of skeleton lines that need them" %>
      <%= format_skeleton_table(format_all_markup(@skeleton.body.gsub(/^([^|]*[|].*)$/) { "|#{$&}" }, @cardset)) %>
    </div>
  <% end %>
<% end %>
<% if flash[:error]
     desired_tab = "generate"
   elsif @skeleton.nil?
     desired_tab = "about"
   else 
     desired_tab = "view"
   end
%>
  <script type="text/javascript">
     new Fabtabs("tabs", "<%= desired_tab %>_link");
  </script>
     