<h1 class="nonprinting">
  <%= link_to @cardset.name, @cardset %>
</h1>
<% @title = "#{@cardset.name}: Visual Spoiler" %>

<%= render "shared/printcontrols" %>

<%= render "setviews" %>

<% cache do %>
  <% cards_to_show = @cardset.public_cards %>
  <% if !@printable %>
    <% num_cards_to_show = cards_to_show.count %>
    <% num_total_cards = @cardset.cards.nonsecondary.count %>
    <% if num_cards_to_show == num_total_cards %>
      <p>Showing all <%= pluralize cards_to_show.count, "card" %>
    <% else %>
      <p>Showing <%= pluralize cards_to_show.count, "active card" %>, of <%= num_total_cards %> total
    <% end %>
    </p>
  <% end %>
  <p>
    <% present_frame_letters = cards_to_show.map &:category_letter
       present_rarity_letters = cards_to_show.map &:rarity_letter
       Rails.logger.info(present_rarity_letters)
    %>
    <%= render :partial => "card_category_buttons", :locals => { :present_frame_letters => present_frame_letters, :present_rarity_letters => present_rarity_letters} %>
  </p>
  <p>
    <% cards_to_show.sort.each do |card| %>
      <% @card = card %>
      <div class="CardRenderInline visualspoiler code_hideable code_frame_<%= @card.category_letter %> code_rarity_<%= @card.rarity_letter %>">
        <%= render :partial => "shared/card", :locals => {:link => true} %>
        <% if !@printable %>
          <%= render :partial => "shared/cardcommentcount" %>
        <% end %>
      </div>
    <% end %>
  </p>
<% end %>

<p><br>
  <%= render "setviews" %>
</p>