<h1>
  <%= link_to @cardset.name, @cardset %>
</h1>
<% @title = "#{@cardset.name}: Visual Spoiler" %>

   <p style="float:right;">
     <%= link_to "Printable", request.fullpath + "?printable" %>
   </p>

<%= render "setviews" %>

<% cards_to_show = @cardset.public_cards %>
<% num_cards_to_show = cards_to_show.count %>
<% num_total_cards = @cardset.cards.nonsecondary.count %>
<% if num_cards_to_show == num_total_cards %>
  <p>Showing all <%= pluralize cards_to_show.count, "card" %>
<% else %>
  <p>Showing <%= pluralize cards_to_show.count, "active card" %>, of <%= num_total_cards %> total
<% end %>
</p>
<p>
  <% cards_to_show.sort.each do |@card| %>
    <div class="CardRenderInline visualspoiler">
      <%= render :partial => "shared/prettycard", :locals => {:link => true} %>
      <%= render :partial => "shared/cardcommentcount" %>
    </div>
  <% end %>
</p>
<p><br>
  <%= render "setviews" %>
</p>