<div class="mechanic">
  <%= form_for([@cardset, @mechanic]) do |f| %>
    <table><tr>
      <td class="mechanic_label">
        <%= f.label :name %>
        <div class="helptext">e.g. "Suspend"</div>
      </td>
      <td>
        <%= f.text_field :name %>
      </td>
      <td class="longer_help">
        This is the mechanic's name as you want it to appear on cards when viewed by visitors.
      </td>
    </tr><tr>
      <td class="mechanic_label">
        <%= f.label :codename %>
        <div class="helptext">e.g. "Delay"; can be same as name</div>
      </td>
      <td>
        <%= f.text_field :codename %>
      </td>
      <td class="longer_help">
        This is what you type into a card's text box to include the mechanic on that card. It can be the same as the Name.
        <br>Or you could use this to save yourself typing if the mechanic is long or hard to spell, for example.
    </tr><tr>
      <td class="mechanic_label">
        <%= f.label :parameters %>
        <div class="helptext">e.g. 0 for Convoke, 1 for Cycling, 2 for Suspend</div>
      </td>
      <td>
        <%= f.select :parameters, (0..2) %>
      </td>
      <td class="longer_help">
        How many separate variables follow the mechanic's name when it's used?
        <br>Convoke   (e.g. <%= format_links("[[[Chord of Calling]]]", @cardset).html_safe %>) has no parameters - the reminder text follows straight after the mechanic.
        <br>Cycling   (e.g. <%= format_links("[[[Expunge]]]"         , @cardset).html_safe %>) has 1 parameter: <%= format_mana_symbols("{3}") %>.
        <br>Reinforce (e.g. <%= format_links("[[[Hunting Triad]]]"   , @cardset).html_safe %>) has 2 parameters: 3 and <%= format_mana_symbols("{3}{G}") %>.
      </td>
    </tr><tr>
      <td colspan="2">
        <%= f.label :reminder %>
        <div class="helptext">e.g. "Rather than cast this spell from your hand, you may pay PARAM2 and exile it with PARAM1 time counters on it."</div>
        <%= f.text_area :reminder %>
      </td>
      <td class="longer_help">
        The reminder text that will appear on cards. Multiverse automatically puts it in italics and inside parentheses. 
        <br/>To mention the parameters, you can type <b>PARAM1</b> or <b>PARAM2</b>.
        <br/>To convert a parameter number to words, type <b>PARAM1ASWORDS</b> or <b>PARAM2ASWORDS</b>.
        <br/>e.g. Cycling would have Reminder "<b>PARAM1</b>, Discard this card: draw a card."
        <br/>e.g. Reinforce would have Reminder "<b>PARAM2</b>, Discard this card: Put <b>PARAM1ASWORDS</b> +1/+1 counters on target creature."
      </td>
    </tr><tr>
      <td colspan="2">
        <%= f.label :description %>
        <div class="helptext">e.g. "Reinforce is a mechanic that lets spells and creatures have an alternate mode as a combat trick."</div>
        <%= f.text_area :description %>
      </td>
      <td class="longer_help">
        This is where you can put any explanation or discussion of the mechanic. 
        <br>Whatever goes here will be shown to visitors who look at the cardset's mechanics page.
      </td>
    </tr>
    <tr>
      <td>
        <% if !signed_in? %>
          <div class="field">
            <%= render :partial => "shared/captcha_field" %>
            <br/>(<%= link_to "Signed-in", signin_path %> users don't get captchas)
          </div>
        <% end %>
        <div class="button_outer"><div class="button_inner">
          <%= f.submit %>
        </div>
    </tr>
    </table>
  <% end # form %>
</div>
<div>
In card text or details pages, write the mechanic's code name between square brackets, like "[Crittercast]", "[Bushido 1]" or "Delay 4 {2}{R}{R}]". It will be expanded to the mechanic's name plus reminder text, such as "Suspend 4 &ndash; <%= format_mana_symbols("{2}{R}{R}") %>. <i>(Rather than cast this spell from your hand,...)</i>" 
<br>To expand a mechanic's name but not its reminder text, include parentheses at the end of the square brackets: "[Crittercast()]", "Delay 9 {R}()]".
<br> If the reminder text needs to come later in the sentence, use one mechanic for the rules text and a separate mechanic for the reminder text. If you need different versions of the reminder text in different circumstances, use multiple mechanics with different codenames but the same display name.
</div>