<%= link_to_unless_current user.name, user %>:

Joined <%= format_datetime(user.created_at) %>.
<% @cardsets = Cardset.find_all_by_user_id(user.id).sort_by &:name %>
<%= pluralize(  (@cardsets ? @cardsets.length : 0), "cardset") %><% if @cardsets.any? %>:
  <%= raw(cardset_links(@cardsets).join(", ")) %>
<% end %>
  <% if signed_in_as_moderator? %>
    <br>Email (only shown to moderators): <%= link_to user.email, "mailto:#{user.email}" %>
    <span style="float:right;"><%= link_to "Delete user", user, :method => :delete, :confirm => "Really DELETE user #{user.name}?",
                                  :title => "Delete #{user.name}" %></span>
  <% end %>
<br>
