<h1><%= @title = "All users" %></h1>

<div>
  <% if params[:order] == "alpha" %>
    (<%= link_to "By join date", users_path %> | Alphabetical)
  <% else %>
    (By join date | <%= link_to "Alphabetical", users_path(:order => :alpha) %>)
  <% end %>
</div>

<p><%= will_paginate %></p>

<%= render @users %>

<p><%= will_paginate %></p>


