<h1><%= @title = @user.name %></h1>

<%= render @user %>
<p><%= link_to "Create new cardset", new_cardset_path %></p>

<% if Decklist.enabled? %>
<div class="decklists user_list">
<h3>Decklists</h3>
<% decklists = @user.decklists.includes(:deck_wizards_cards, :deck_cards => :card) %>
<p><%= @user.name %> has created <%= pluralize(decklists.count, "decklist") %><% if decklists.empty? %>.<% else %>: 
  <ul>
  <% decklists.each do |deck| %>
    <li><%= link_to deck.name, deck %> (<%= pluralize(deck.num_cards, "cards") %>)
    <% if deck.active? %>
      (active)
    <% else %>
      <%= link_to "make active", "" %>
    <% end %>
  <% end %>
  </ul>
<% end %></p>

<% if @user == current_user %>
  <p><%= link_to "Create new decklist", new_decklist_path %></p>
<% end %>
</div>
<% end %>

<p>
  <% if @user == current_user %>
    <%= link_to "Edit profile", edit_user_path(@user) %> |
    <%= link_to "Sign out", signout_path, :method => :delete %> |
  <% end %>
  <%= link_to "All users", users_path %>
</p>
