<h1><%= @title = @user.name %></h1>

<%= render @user %>

<!-- Has created <%= user.decklists.pluralize %>: <% user.decklists.each do |deck| %><%= link_to deck, deck.name %><% end %>!-->

<p>
  <%= link_to "Create new cardset", new_cardset_path %> |
  <% if @user == current_user %>
    <%= link_to "Edit profile", edit_user_path(@user) %> |
  <% end %>
  <%= link_to "All users", users_path %>
</p>
