<h1>Profile</h1>

<!-- p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p -->

<%= render @user %>

<p><%= link_to "Create new cardset", new_cardset_path %> |
<%= link_to 'Edit profile', edit_user_path(@user) %> |
<%= link_to 'All users', users_path %>
