<% conf = @cardset.configuration # Requires @cardset defined as well as @card! %>
<% if conf.frame == "image" && !@card.image_url.blank? %>
   <div><img src="<%= @card.image_url %>"></div>
<% elsif conf.frame == "prettycard" || conf.frame == "image" %>
   <%= render :partial => "shared/prettycard", :locals => { :link => link } %>
<% elsif conf.frame == "plain" %>
   <%= render :partial => "shared/plaincard" %>
<% else %>
  I"m sorry, somehow this card's frame has got into a state that Multiverse can"t display.
  The cardset's frame setting is: <%= conf.frame %> which is a <%= conf.frame.class %>
<% end %>