  <div>
    <% if signed_in? %>
      Comment by: <%= @comment.user || @comment.user_name || current_user.name %>
      <%= @f.hidden_field :user_id, :value => @comment.user ? @comment.user.id :
        @comment.new_record? ? current_user.id : @comment.user_id %>
    <% else   # Can only be posting a new anonymous comment %>
      <%= @f.label :user_name, "Post comment in the name of:" %><br />
      <%= @f.text_field :user_name, :value => Comment.DEFAULT_USER_NAME, maxlength: 40 %>
    <% end %>
    <%= render :partial => "shared/markdown_short" %>
  </div>
  <div class="field">
    <%= @f.text_area :body, :rows => "6" %>
  </div>
  <% if !signed_in? %>
    <div class="field">
      <%= render :partial => "shared/captcha_field" %>
      <br/>(<%= link_to "Signed-in", signin_path %> users don't get captchas and can edit their comments)
    </div>
  <% end %>
  <div class="actions">
    <% submit_text = @comment.new_record? ? "Post comment" : "Update comment" %>
    <div class="button_outer"><div class="button_inner">
    <% if signed_in? %>
      <%= @f.submit submit_text, :name => "comment_submit[by_signed_in_user]" %>
    <% else %>
      <%= @f.submit submit_text %>
    <% end %>
    </div></div>
  </div>
