<% # prettycard helper takes boolean param "link?"
#link = false if local_assigns[:link].nil?
%><div class="cardborder blackborder">
 <div class="card <%= @card.display_class %>">
  <div class="pinline pinline_box">
   <div class="cardtitlebar">
    <div class="cardname">
     <% if link %>
      <%= link_to @card.printable_name, @card, :title => @card.code %>
     <% else %>
      <span title="<%= @card.code %>"><%= @card.name %></span>
     <% end %>
    </div>
    <div class="cardmanacost"><%= format_mana_symbols(@card.cost, true) %></div>
    &nbsp; <% "required to give some height to the cardtitlebar" %>
   </div>
  </div>
  <div class="cardart_container">
   <div class="pinline pinline_sides">
    <div class="cardart">
     <% if !@card.art_url.blank? %>
      <img src="<%= @card.art_url %>">
     <% end %>
    </div>
   </div>
  </div>
  <div class="pinline pinline_box">
   <div class="cardtypebar">
    <div class="cardrarity <%= @card.rarity %>">
      <% if !@card.rarity.blank? %>
        &nbsp;<%= @card.rarity[0].chr.upcase %>&nbsp;
      <% end %>
    </div>
     <% typeline = (@card.supertype.blank? ? "" : "#{@card.supertype} ") +
                   (@card.cardtype.blank?  ? "" : "#{@card.cardtype}") +
                   (@card.subtype.blank?   ? "" : " - #{@card.subtype}") %>
     <% typeclass = typeline.length > 28 ? "cardtype condensedtypeline" : "cardtype" %>
    <div class="<%= typeclass %>">
     <% if !typeline.blank? %>
       <%= h(typeline).gsub("-", "&ndash;").html_safe %>
     <% else %>
       &nbsp;
     <% end %>
    </div>
    <% " &nbsp; required to give some height to the cardtypebar " %>
   </div>
  </div>
  <div class="cardtext_container">
   <div class="pinline pinline_sidesbottom">
     <% textbox_length = (@card.rulestext.blank?   ? 0 : textbox_chars_displayed(@card, :rulestext  )) + 
                         (@card.flavourtext.blank? ? 0 : textbox_chars_displayed(@card, :flavourtext)) %>
     <% case textbox_length
         when 0..150:   textboxclass = "cardtext"
         when 151..170: textboxclass = "cardtext minitext"
         when 171..200: textboxclass = "cardtext microtext"
         else           textboxclass = "cardtext nanotext"
       end %>
     <div class="<%= textboxclass %>"><% Rails.logger.info "#{@card.name}'s textbox has #{textbox_length} chars"%><% if !@card.rulestext.blank? %><%= content_tag(:div, format_card_text(@card, :rulestext), :class => "rulestext") %><% end %>
      <% if !@card.flavourtext.blank? %><%= content_tag(:div, format_card_text(@card, :flavourtext), :class => "flavourtext") %><% end %></div>
    </div>
   </div>
  <div class="bottombox">
   <% if !@card.artist.blank? %>
     <span class="artist">Illus. <%= @card.artist %></span>
   <% else %>&nbsp;<% end %>
   <% if !@card.power.blank? || !@card.toughness.blank? %>
   <div class="ptbox_container">
    <div class="pinline pinline_box pinline_ptbox">
     <div class="ptbox"><%= @card.power %><% if !@card.power.blank? && !@card.toughness.blank? %>/<% end %><%= @card.toughness %>
     </div>
    </div>
   </div>
   <% end %>
  </div>
  <% if @card.foil %>
  <div class="foil">&nbsp;</div>
   <% end %>
 </div>
</div>