<% # prettycard helper takes boolean param "link"
#link = false if local_assigns[:link].nil?
%><div class="cardborder <%= @card.border_colour %>border <%= @card.multipart_class %> <%= @extra_styles %>">
 <% if false && !@card.active && @card.cardset && @card.cardset.configuration.card_show_active %>
   <div class="banner">INACTIVE</div>
 <% end %>
 <% if @card.link.nil? || !@card.multipart?
      cards = [@card]
    else
      cards = [@card, @card.link]
    end %>
 <% cards.each_with_index do |card, card_index| %>
  <div class="innercardborder">
   <div class="card <%= card.display_class %> part<%= card_index+1 %>">
    <span class="left_of_namebox"></span>
    <div class="pinline pinline_box namebox">
     <div class="cardtitlebar">
      <div class="cardname">
       <% if link && !@printable && card_index==0 %>
        <%= link_to_card(card, card.individual_name) %>
       <% else %>
        <span title="<%= card.code %>"><%= card.name %></span>
       <% end %>
      </div>
      <% if !card.is_token? %>
        <div class="cardmanacost"> <%= format_mana_symbols(card.cost, true) %> </div>
        &nbsp;<% "required to give some height to the cardtitlebar" %>
      <% end %>
     </div>
    </div>
    <div class="cardart_container">
     <div class="pinline pinline_sides">
      <% if !card.art_url.blank? %>
       <% if card.is_token? || card.is_planeswalker? %>
        <div class="cardart image" style="background-image: url(<%= card.art_url %>);">
        </div>
       <% else %>
        <div class="cardart image">
         <img src="<%= card.art_url %>">
        </div>
       <% end %>
      <% else %>
       <div class="cardart noart">
       </div>
      <% end %>
     </div>
    </div>
    <div class="pinline pinline_box typebox">
     <div class="cardtypebar">
      <div class="cardrarity <%= card.rarity %>">
        <% if !card.rarity.blank? %>
          &nbsp;<%= card.rarity[0].chr.upcase %>&nbsp;
        <% end %>
      </div>
      <div class="cardtype"><span>
       <% my_indic_string = card.colour_indicator_string %>
       <% if !my_indic_string.blank? %>
         <%= image_tag "colour_indic_#{my_indic_string}.png", :alt => "Colour indicator #{my_indic_string.upcase}", :class => "colour_indicator" %>
       <% end %>
       <% my_type = displayed_type(card) %>
       <% if !my_type.blank? %>
         <%= my_type %>
       <% else %>
         &nbsp;
       <% end %>
      </span></div>
      <% " &nbsp; required to give some height to the cardtypebar " %>
     </div>
    </div>
    <% textbox_length = (card.rulestext.blank?   ? 0 : textbox_chars_displayed(card, :rulestext  )) + 
                        (card.flavourtext.blank? ? 0 : textbox_chars_displayed(card, :flavourtext)) %>
    <% case textbox_length
       when 0..150 then   textboxclass = "cardtext"
       when 151..170 then textboxclass = "cardtext minitext"
       when 171..200 then textboxclass = "cardtext microtext"
       else               textboxclass = "cardtext nanotext"
     end %>
    <div class="cardtext_container<% if textbox_length == 0 %> notext<% end %>">
     <div class="pinline pinline_sidesbottom">
       <div class="<%= textboxclass %>">
         <% if card.watermark.present? %>
           <% if card.watermark =~ /^[{].*[}]$/ && (watermark_url = standard_watermark_filename(card.watermark)).present?
                "got the url"
              else 
                watermark_url = card.watermark
              end %>
            <div class="watermark" id="watermark" style="background-image:url(<%= watermark_url %>)">
            </div>
         <% end %>
         <div class="rulestext_wrapper">
           <% Rails.logger.info "#{card.individual_name}'s textbox has #{textbox_length} chars"%><% if !card.rulestext.blank? %><%= content_tag(:div, format_card_text(card, :rulestext), :class => "rulestext") %><% end %>
           <% if !card.flavourtext.blank? %><%= content_tag(:div, format_card_text(card, :flavourtext), :class => "flavourtext") %><% end %>
         </div>
        </div>
      </div>
     </div>
    <div class="bottombox">
     <% if !card.artist.blank? %>
       <span class="artist">Illus. <%= card.artist %></span>
     <% else %>&nbsp;<% end %>
     <% if !card.power.blank? || !card.toughness.blank? %>
     <div class="ptbox_container">
      <div class="pinline pinline_box pinline_ptbox">
       <div class="ptbox"><%= card.power %><% if !card.power.blank? && !card.toughness.blank? %>/<% end %><%= card.toughness %>
       </div>
      </div>
     </div>
     <% end %>
    </div>
    <% if card.foil %>
    <div class="foil">&nbsp;</div>
     <% end %>
   </div>
  </div>
 <% end %>
</div>