<% # prettycard helper takes boolean param "link?"
#link = false if local_assigns[:link].nil?
%>

<div class="cardborder blackborder">
 <div class="card <%= @card.display_class %>">
  <div class="pinline pinline_box">
   <div class="cardtitlebar">
    <div class="cardname">
     <% if link %>
      <%= link_to @card.printable_name, @card, :title => @card.code %>
     <% else %>
      <span title="<%= @card.code %>"><%= @card.name %></span>
     <% end %>
    </div>
    <div class="cardmanacost"><%= format_mana_symbols(@card.cost) %></div>
    &nbsp; <!-- required to give some height to the cardtitlebar -->
   </div>
  </div>
  <div class="cardart_container">
   <div class="pinline pinline_sides">
    <div class="cardart">
     <% if !@card.art_url.blank? %>
      <img src="<%= @card.art_url %>">
     <% end %>
    </div>
   </div>
  </div>
  <div class="pinline pinline_box">
   <div class="cardtypebar">
    <div class="cardrarity <%= @card.rarity %>">&nbsp;<%= @card.rarity[0].chr.upcase %>&nbsp;
    </div>
     <% typeline = (@card.supertype.blank? ? "" : "#{@card.supertype} ") +
                   (@card.cardtype.blank?  ? "" : "#{@card.cardtype}") +
                   (@card.subtype.blank?   ? "" : " - #{@card.subtype}") %>
     <% typeclass = typeline.length > 28 ? "cardtype condensedtypeline" : "cardtype" %>
                   
    <div class="<%= typeclass %>">
     <% if !typeline.blank? %>
       <%= h(typeline).gsub("-", "&ndash;").html_safe %>
     <% else %>
       &nbsp;
     <% end %>
    </div>
    <!-- &nbsp; required to give some height to the cardtypebar -->
   </div>
  </div>
  <div class="cardtext_container">
   <div class="pinline pinline_sidesbottom">
     <% textbox = (@card.rulestext   ? format_card_text(@card, :rulestext  ) : "") + 
                  (@card.flavourtext ? format_card_text(@card, :flavourtext) : "") %>
     <% case textbox.length
         when 0..150:   textboxclass = "cardtext"
         when 151..170: textboxclass = "cardtext minitext"
         when 171..200: textboxclass = "cardtext microtext"
         else           textboxclass = "cardtext nanotext"
       end %>
     <div class="<%= textboxclass %>"><!-- textbox has <%= textbox.length %> chars -->
      <%= content_tag(:div, format_card_text(@card, :rulestext)) %>
      <%= content_tag(:div, format_card_text(@card, :flavourtext), :class => "flavourtext") %>
     </div>
    </div>
   </div>
  <div class="bottombox">
   <% if !@card.artist.blank? %>
     <span class="artist">Illus. <%= @card.artist %></span>
   <% else %>
     &nbsp;
   <% end %>
   <% if @card.power || @card.toughness %>
   <div class="ptbox_container">
    <div class="pinline pinline_box pinline_ptbox">
     <div class="ptbox"><%= @card.power %><% if @card.power && @card.toughness %>/<% end %><%= @card.toughness %>
     </div>
    </div>
   </div>
   <% end %>
  </div>
  </div>
 
 </div>
</div>