<% # prettycard helper takes boolean param "link?"
#link = false if local_assigns[:link].nil?
%>
<table class="card <%= @card.frame %>">
  <tr class="cardtitle">
   <td class="cardname">
    <% if link %>
      <%= link_to @card.name, @card, :title => @card.code %>
    <% else %>
      <span title="<%= @card.code %>"><%= @card.name %></span>
    <% end %>
   </td>
   <td class="cardcost"><%= @card.cost %>
   </td>
  </tr>
  <tr>
   <td colspan="2" class="cardart">&nbsp;
   </td>
  </tr>
  <tr class="cardtypeline">
   <td class="minitext cardtype"><%= @card.supertype %> <%= @card.cardtype %>
   <% if !@card.subtype.blank? %>
     &ndash; <%= @card.subtype %>
   <% end %>
   </td>
   <td class="cardrarity <%= @card.rarity %>"><%= @card.rarity[0].chr.upcase %>
   </td>
  </tr>
  <tr>
    <% textbox = (@card.rulestext ? @card.rulestext : "") + (@card.flavourtext ? @card.flavourtext : "") %>
    <% case textbox.length
         when 0..150:   textboxclass = "cardtext"
         when 151..170: textboxclass = "cardtext minitext"
         when 171..200: textboxclass = "cardtext microtext"
         else           textboxclass = "cardtext nanotext"
       end %>
   <td class="<%= textboxclass %>" colspan="2"><!-- textbox has <%= textbox.length %> chars -->
     <%= content_tag(:div, format(@card, :rulestext)) %>
     <%= content_tag(:div, format(@card, :flavourtext), :class => "flavourtext") %>
   </td>
  </tr>
  <tr class="cardptline">
   <td>&nbsp;
   </td>
   <% if @card.power || @card.toughness %>
   <td class="cardpt"
     ><%= @card.power %><% if @card.power && @card.toughness %>/<% end %><%= @card.toughness %></td>
   <% end %>
  </tr>
</table>