<h1>Multiverse</h1>
<p>
  Multiverse is a database for custom <b>Magic: the Gathering</b> card sets.
  <br><%= link_to "Find out more", about_path %>
</p>
<p>
  <% numsets = Cardset.count; numtoshow = [numsets, 3].min %>
  There are <%= link_to "#{numsets} cardsets", cardsets_path %> in Multiverse right now<% if numsets > 0 %>, including:
    <ul>
    <% Cardset.all.permutation(numtoshow).to_a.choice.each do |cardset| %>
      <li><%= link_to cardset.name, cardset %> (<%= cardset.cards.count %> cards): <%= cardset.description %>
    <% end %>
    </ul>
  <% end %>
</p>
<p>
  <% if signed_in? %>
    You can <%= link_to "create your own cardset now", new_cardset_path %>!
  <% else %>
    To create your own cardset, you must first <%= link_to "sign in", signin_path %> or <%= link_to "sign up", signup_path %>.
  <% end %>
</p>