<p>
  Multiverse is a database for custom <b>Magic: the Gathering</b> card sets.
  <br><%= link_to "Find out more", about_path %>
</p>
<p>
  <% numsets = Cardset.count
     num_to_show = [numsets, 12].min 
     sets_to_show = select_random(num_to_show, Cardset.all)%>
  There are <%= link_to "#{numsets} cardsets", cardsets_path %> in Multiverse right now<% if numsets > 0 %>, including:
    <ul>
    <% sets_to_show.each do |cardset| %>
      <% set_viewable = permission_to? :view, cardset %>
      <li><b><%= link_to cardset.name, cardset %></b> by <%= link_to cardset.user.name, cardset.user %>
      <% if set_viewable %>
        (<%= cardset.cards.nonsecondary.count %> cards,
         <%= link_to "last activity", recent_cardset_path(cardset) %> 
         <% action = cardset.recent_action %>
         <%= format_datetime(action.datestamp) %> by 
         <% if action.user %><%= link_to action.user, action.user %><% else %><%= User.name_for(action.user_id) %><% end %>)<% if !cardset.description.blank? %>: <%= cardset.description %><% end %>
      <% end %>
    <% end %>
    </ul>
    <% if num_to_show < numsets %>
      (<%= link_to "see all cardsets and recent activity", cardsets_path %>)
    <% end %>
  <% end %>
</p>

<%= render :partial => "shared/new_features", :locals => { :news_type => :link } %>

<p>
  <% numcards = Card.nonsecondary.count
     num_to_show = [numcards, 5].min
     chosencards = select_random_visible_cards(num_to_show, Card.nonsecondary)
     "chosencards[3] = Card.find(847)"
     "chosencards[4] = Card.find(863)"
     %>
  There are <%= numcards %> cards in Multiverse right now<% if numcards > 0 %>, including:
    <table>
     <tr>
          
       <% chosencards.each do |card| %>
         <td><%= link_to card.printable_name, card %>
         <br>from <%= link_to card.cardset.name, card.cardset %>
         <% @card = card %>
         <%= render :partial => "shared/prettycard", :locals => { :link => true } %>
         <%= link_to "Comments (#{@card.comments.count})", @card %>
       <% end %>
    </tr>
   </table>
  <% end %>
</p>
<p>
  <% if signed_in? %>
    You can <%= link_to "create your own cardset now", new_cardset_path %>!
  <% else %>
    To create your own cardset, you must first <%= link_to "sign in", signin_path %> or <%= link_to "sign up", signup_path %>.
  <% end %>
</p>