<p>
  Multiverse is a database for custom <b>Magic: the Gathering</b> card sets.
  <br><%= link_to "Find out more", about_path %>
</p>
<p>
 <% cache("site_stats", :expires_in => 12.hours) do %>
  <% numsets = Cardset.count
     num_to_show = [numsets, 12].min 
     sets_to_show = select_random(num_to_show, Cardset.all)%>
  There are <%= link_to "#{numsets} cardsets", cardsets_path %> in Multiverse right now<% if numsets > 0 %>, including:
    <ul>
    <% sets_to_show.each do |cardset| %>
      <% set_viewable = permission_to? :view, cardset %>
      <li><b><%= link_to cardset.name, cardset %></b> by <%= link_to cardset.user.name, cardset.user %>
      <% if set_viewable %>
        (<%= cardset.cards.nonsecondary.count %> cards,
         <%= link_to "last activity", recent_cardset_path(cardset) %> 
         <% if !(action = cardset.recent_action).nil? %>
           <%= format_datetime(action.datestamp) %> by 
           <% if action.user %><%= link_to action.user, action.user %><% else %><%= User.name_for(action.user_id) %><% end %>)<% if !cardset.description.blank? %>: <%= cardset.description %><% end %>
        <% end %>
      <% end %>
    <% end %>
    </ul>
    <% if num_to_show < numsets %>
      (<%= link_to "see all cardsets and recent activity", cardsets_path %>)
    <% end %>
  <% end %>
 <% end %>
</p>

<%= render :partial => "shared/new_features", :locals => { :news_type => :link } %>

<p>
  You might like to <%= link_to "see a random selection", random_path %> of all the cards on Multiverse.
</p>
<p>
  There are several community cardsets that are open for anyone to create cards into:
  <ul>
    <li><b><a href="http://www.magicmultiverse.net/cardsets/2">Testing</a></b> for creating test cards and playing around
    <li><b><a href="http://www.magicmultiverse.net/cardsets/74">Cards With No Home</a></b> for individual card creations that aren't part of a larger cardset
    <li><b><a href="http://www.magicmultiverse.net/cardsets/10">Silver bordered cards</a></b> for cards that are sillier or a joke
    <li><b><a href="http://www.magicmultiverse.net/cardsets/149">Multiverse Design Challenge</a></b>, where design challenges are regularly posted and everyone's welcome to enter
    <li><b><a href="http://www.magicmultiverse.net/cardsets/319">Community Mashup Set</a></b> for if you want to create some "mash-ups", or just find out what those are
    <li><b><a href="http://www.magicmultiverse.net/cardsets/145">Multiverse Feedback</a></b> for the "cardset" of feature suggestions, bug reports and similar
    <li><b><a href="http://www.magicmultiverse.net/cardsets/474">Conversation</a></b> is for discussion threads about general topics related to Magic or design rather than a specific user-created card.
  </ul>
</p>
<p>
  <% if signed_in? %>
    Or if none of those suit your needs, you can <%= link_to "create your own cardset now", new_cardset_path %>!
  <% else %>
    To create your own cardset, you must first <%= link_to "sign in", signin_path %> or <%= link_to "sign up", signup_path %>.
  <% end %>
</p>