<p>
  Multiverse is a database for custom <b>Magic: the Gathering</b> card sets.
  <br><%= link_to "Find out more", about_path %>
</p>
<p>
  <% numsets = Cardset.count; numtoshow = [numsets, 12].min %>
  There are <%= link_to "#{numsets} cardsets", cardsets_path %> in Multiverse right now<% if numsets > 0 %>, including:
    <ul>
    <% Cardset.all.each do |cardset| %>
      <li><%= link_to cardset.name, cardset %> by <%= link_to cardset.user.name, cardset.user %> (<%= cardset.cards.count %> cards)<% if !cardset.description.blank? %>: <%= cardset.description %><% end %>
    <% end %>
    </ul>
    <% if numtoshow < numsets %>
      (<%= link_to "see all", cardsets_path %>)
    <% end %>
  <% end %>
</p>

<p>
  <% numcards = Card.count
     numtoshow = [numcards, 5].min 
     allcards = Card.all
     chosencards = []
     while chosencards.length < numtoshow
       newcard = allcards.choice # i.e. random element
       if !chosencards.include?(newcard)
         chosencards << newcard
       end
     end
     %>
  There are <%= numcards %> cards in Multiverse right now<% if numcards > 0 %>, including:
    <table>
     <tr>
          
       <% chosencards.each do |@card| %>
         <td><%= link_to @card.name, @card %>
         <br>from <%= link_to @card.cardset.name, @card.cardset %>
         <%= render :partial => 'shared/prettycard', :locals => { :link => true } %>
         <%= link_to "Comments (#{@card.comments.count})", @card %>
       <% end %>
    </tr>
   </table>
  <% end %>
</p>
<p>
  <% if signed_in? %>
    You can <%= link_to "create your own cardset now", new_cardset_path %>!
  <% else %>
    To create your own cardset, you must first <%= link_to "sign in", signin_path %> or <%= link_to "sign up", signup_path %>.
  <% end %>
</p>