<h1><%= link_to (@title = "Random Cards"), random_path %></h1>
<p>
  <% default_num_to_show = 15
     max_num_to_show = 50
     numcards = Card.nonsecondary.count
     num_to_show = params[:count].to_i 
     if num_to_show <= 0
         num_to_show = default_num_to_show
     end
     # Max out at smaller of 50 and number of available cards
     num_to_show = [num_to_show, numcards, max_num_to_show].min
     chosencards = select_random_visible_cards(num_to_show, Card.nonsecondary)
     %>
  There are <%= numcards %> cards in Multiverse right now<% if numcards > 0 %>, including:
     
       <% chosencards.each_with_index do |card, index| %>
         <% @card = card
            @cardset = @card.cardset %>
         <div class="CardRenderInline">
           <%= render :partial => "shared/card", :locals => { :link => true } %>
           from <%= link_to @cardset.name, @cardset %>
           <br>
           <%= render :partial => "shared/cardcommentcount" %>
         </div>
       <% end %>
  <% end %>
  
</p>
<p>
  <%= link_to "More random cards", random_path %>
</p>
