<p></p>
<% deck_cards = @decklist.deck_cards.includes(:card => [:link, :cardset => :configuration])
   sections = @decklist.sections %>
<div class="decklists main">

<h1><%= @title = @decklist.name %></h1>

<p>(A 
<% if @decklist.cardset %>
  <%= link_to @decklist.cardset.name, @decklist.cardset %>
<% end %>
decklist by <%= link_to @decklist.user, @decklist.user %>)
<% if permission_to?(:edit, @decklist) %>
  (<%= link_to "Edit", edit_decklist_path(@decklist) %>)
<% end %>
</p>

<% if @decklist.description.present? %>
  <p><%= format_all_markup(@decklist.description, @decklist.cardset) %></p>
<% end %>

<table class="decklist">
  <tr>
    <th class="decklist_count">Count
    <th class="decklist_card">Card
    <th class="decklist_operations">
  </tr>
  <% numcols = 2
     maindeck_sections = sections - ["sideboard"] %>
  <% maindeck_sections.each do |section| %>
    <tr>
      <td colspan="<%= numcols %>"><%= section %>
    </tr>
    <% 
       deck_cards.select {|dc| dc.section == section }.each do |deck_card| 
       card = deck_card.card %>
    <tr id="c<%= deck_card.id %>_row">
      <td class="nowrap">
        <%= form_for deck_card, :namespace => "c#{card.id}_minus", :remote => true do |f| 
          %><%= f.hidden_field :count, :value => (deck_card.count - 1) 
          %><%= f.submit " - ", class: "linky_button minus" 
        %><% end 
        %><span id="c<%= card.id %>_deck_count"><%= deck_card.count %></span
        ><%= form_for deck_card, :namespace => "c#{card.id}_plus", :remote => true do |f| 
          %><%= f.hidden_field :count, :value => (deck_card.count + 1) 
          %><%= f.submit " + ", class: "linky_button plus" %>
        <% end %>
      <td>
        <%= link_to_card card %>
      
    </tr>
    <% end %>
    <% @decklist.deck_wizards_cards.select {|dwc| dwc.section == section }.each do |deck_wizards_card| %>
    <tr id="wc<%= deck_wizards_card.id %>_row">
      <td class="nowrap">
        <%= form_for deck_wizards_card, :namespace => "wc#{deck_wizards_card.id}_minus", :remote => true do |f| 
          %><%= f.hidden_field :count, :value => (deck_wizards_card.count - 1) 
          %><%= f.submit " - ", class: "linky_button minus" 
        %><% end 
        %><span id="wc<%= deck_wizards_card.id %>_deck_count"><%= deck_wizards_card.count %></span
        ><%= form_for deck_wizards_card, :namespace => "wc#{deck_wizards_card.id}_plus", :remote => true do |f| 
          %><%= f.hidden_field :count, :value => (deck_wizards_card.count + 1) 
          %><%= f.submit " + ", class: "linky_button plus" %>
        <% end %>
      <td><%= wizards_card_link(deck_wizards_card.name, deck_wizards_card.name).html_safe %>
    </tr>
    <% end %>
  <% end %>
  <% if maindeck_sections.empty? %>
    <tr>
      <td colspan="<%= numcols %>">No cards in this decklist yet...
    </tr>
  <% end %>
</table>

<p>
  Add cards to deck:
  <br/>
  
  <ul class="cardtabs" id="addtabs">
    <li><a href="#basiclands" id="basiclands_link">Basic lands</a></li>
    <li><a href="#wizards"    id="wizards_link">Wizards</a></li>
    <% if @decklist.cardset.present? %>
      <li><a href="#cardset"  id="cardset_link"><%= @decklist.cardset.name %></a></li>
    <% end %>
    <li><a href="#multiverse" id="multiverse_link">Multiverse</a></li>
  </ul>

  <div id="basiclands" class="onetab active-tab-body"><a name="basiclands"></a>
    <%= form_tag action: :add_lands, id: @decklist do %>
    <div class="actions">
      <% lands_colours = [["Plains", "White"], ["Island", "Blue"], ["Swamp", "Black"], ["Mountain", "Red"], ["Forest", "Green"]] 
         lands_colours.each do |thisLand, thisColour| %>
      <div>Add 4x 
        <div class="button_outer button_<%= thisColour %>"><div class="button_inner">
          <%= submit_tag thisLand, name: :basic %>
        </div></div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <div id="wizards" class="onetab"><a name="plaincard"></a>
    Wizards cards
  </div>
  <% if @decklist.cardset.present? %>
    <div id="cardset" class="onetab"><a name="cardset"></a>
      Cards from <%= @decklist.cardset.name %>
    </div>
  <% end %>
  <div id="multiverse" class="onetab"><a name="multiverse"></a>
    Multiverse
  </div>
</p>
<script type="text/javascript">
  var onClickTrigger;
  new Fabtabs("addtabs", "basiclands_link", onClickTrigger);
</script>

<hr>

<p>
  <% if permission_to?(:admin, @decklist) %>
    <% if @decklist.published? %>
      Decklist is currently Published (visible to all). You can <%= link_to "Make it private", "" %>.
    <% else %>
      Decklist is currently private. You can <%= link_to "Publish it", "" %>.
    <% end %>
  <% end %>
  <% if permission_to?(:delete, @decklist) %>
    Or you could <% delete_text = "Delete the decklist"
    # (@decklist.published? ? "Delete the decklist" : "Discard the draft decklist")
       action = (@decklist.published? ? "delete the decklist" : "discard the draft decklist") %>.
    <%= link_to delete_text, @decklist, :data => { :confirm => "Really #{action} #{@decklist.name}?" }, :method => :delete %>
  <% end %>
</p>

</div>