<p></p>
<% deck_cards = @decklist.deck_cards.includes(:card => [:link, :cardset => :configuration])
   sections = @decklist.sections %>
<div class="decklists main">

<h1><%= @title = @decklist.name %></h1>

<p>(A 
<% if @decklist.cardset %>
  <%= link_to @decklist.cardset.name, @decklist.cardset %>
<% end %>
decklist by <%= link_to @decklist.user, @decklist.user %>)
<% if permission_to?(:edit, @decklist) %>
  (<%= link_to "Edit", edit_decklist_path(@decklist) %>)
<% end %>
</p>

<% if @decklist.description.present? %>
  <p><%= format_all_markup(@decklist.description, @decklist.cardset) %></p>
<% end %>

<div id="debug"></div>
<table class="decklist" id="decklist_table">
  <!-- tr>
    <th class="decklist_reorder">
    <th class="decklist_count">Count
    <th class="decklist_card">Card
    <th class="decklist_operations">
  </tr -->
  <% numcols = 5 %>
  <% sections.each do |section| %>
    <tbody draggable="false" id="sec<%= section && section.parameterize %>" class="decklist_section <%= Decklist.extra_classes(section) %>" ondragstart="dragStart(event, 'section')">
    <tr id="sec<%= section && section.parameterize %>_header" class="decklist_section_header" ondragenter="dragMoveIntoSection(event)">
      <td class="drag_handle" onMouseOver="makeThisSectionDraggable(this)" onMouseOut="makeThisSectionNotDraggable(this)"><div id="sec<%= section && section.parameterize %>_drag">&#x2725;</div>
      <td colspan="<%= numcols - 1 %>"><%= section || "Main" %>
    </tr>
    <% deck_cards.select {|dc| dc.section == section }.each do |deck_card| %>
      <% @deck_card = deck_card
         @card = @deck_card.card %>
      <%= render "shared/deck_card_row" %>
    <% end %>
    
    <% @decklist.deck_wizards_cards.select {|dwc| dwc.section == section }.each do |deck_wizards_card| %>
      <% @deck_wizards_card = deck_wizards_card %>
      <%= render "shared/deck_wizards_card_row" %>
    <% end %>
  <% end %>
  <% if sections.empty? %>
    <tr>
      <td colspan="<%= numcols %>">No cards in this decklist yet...
    </tr>
  <% end %>
</table>

<!--script>
$A(document.querySelectorAll(".decklist_section_header td.drag_handle")).each(function(e){
  e.addEventListener("mouseover", makeThisSectionDraggable);
  e.addEventListener("mouseout", makeThisSectionDraggable);
})
</script-->

<p>
  Add cards to deck:
  <br/>
  
  <!--ul class="cardtabs" id="addtabs">
    <li><a href="#basiclands" id="basiclands_link">Basic lands</a></li>
    <li><a href="#wizards"    id="wizards_link">Wizards</a></li>
    <% if @decklist.cardset.present? %>
      <li><a href="#cardset"  id="cardset_link"><%= @decklist.cardset.name %></a></li>
    <% end %>
    <li><a href="#multiverse" id="multiverse_link">Multiverse</a></li>
  </ul-->
<table><tr><td>
  <div id="basiclands" class="inline section"><a name="basiclands"></a>
    <%= form_tag action: :add_lands, id: @decklist do %>
    <div class="actions">
      <% lands_colours = [["Plains", "White"], ["Island", "Blue"], ["Swamp", "Black"], ["Mountain", "Red"], ["Forest", "Green"]] 
         lands_colours.each do |thisLand, thisColour| %>
      <div>Add 4x 
        <div class="button_outer button_<%= thisColour %>"><div class="button_inner">
          <%= submit_tag thisLand, name: :basic %>
        </div></div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
<td>
  <div id="wizards" class="inline section"><a name="plaincard"></a>
    Add printed Wizards cards:
    <br/>
    <% new_deck_wizards_card = @decklist.deck_wizards_cards.build %>
    <%= form_for [@decklist, new_deck_wizards_card], :remote => true do |f| 
      %><%= f.text_field :name %><%= f.submit " Add ", class: "linky_button" %>
    <% end %>
  </div>
  <% if @decklist.cardset.present? %>
  <td>
    <div id="cardset" class="inline section"><a name="cardset"></a>
      Cards from <%= @decklist.cardset.name %>
    </div>
  <% end %>
<td>
  <div id="multiverse" class="inline section"><a name="multiverse"></a>
    Multiverse
  </div>
</table>
  
</p>
<script type="text/javascript">
  var onClickTrigger;
  new Fabtabs("addtabs", "basiclands_link", onClickTrigger);
</script>

<hr>

<p>
  <% if permission_to?(:admin, @decklist) %>
    <% if @decklist.published? %>
      Decklist is currently Published (visible to all). You can <%= link_to "Make it private", "" %>.
    <% else %>
      Decklist is currently private. You can <%= link_to "Publish it", "" %>.
    <% end %>
  <% end %>
  <% if permission_to?(:delete, @decklist) %>
    Or you could <% delete_text = "Delete the decklist"
    # (@decklist.published? ? "Delete the decklist" : "Discard the draft decklist")
       action = (@decklist.published? ? "delete the decklist" : "discard the draft decklist") %>
    <%= link_to delete_text, @decklist, :data => { :confirm => "Really #{action} #{@decklist.name}?" }, :method => :delete %>.
  <% end %>
</p>

</div>