<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<table border="0">         <!-- grouping table -->
 <tr>
  <td>                      <!-- card -->
   <table class="card <%= @render_frame %>">
    <tr class="cardtitle">
     <td class="cardname">
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>

     <td class="cardcost" colspan="2">
      <div class="field">
        <%= f.label :cost %><br />
        <%= f.text_field :cost %>
      </div>
    <tr>                   <!-- art -->
     <td colspan="3" class="cardart">&nbsp;
    <tr class="cardtypeline"> <!-- type line -->
     <td class="minitext cardtype" colspan="2">
        <%= f.text_field :supertype %>
        <%= f.text_field :cardtype %> &ndash;
        <%= f.text_field :subtype %>
     <td class="cardrarity <%= @card.rarity %>" id="raritycell">
      <%= f.select :rarity, card_rarities.map{|r| [r[0].chr.upcase, r]},
        { :selected => @card.rarity },
        { :onchange => "update_card_rarity(this.value)" } %>

    <tr>                   <!-- text box -->
     <td class="cardtext" colspan="3">
      <%= f.text_area :rulestext,   :class => "rulestextfield"   %>
      <div class="flavourtext">
      <%= f.text_area :flavourtext, :class => "flavourtextfield" %>
      </div>
    <tr class="cardptline">
     <td>&nbsp;
     <td class="cardpt" colspan="2">
      <%= f.text_field :power, :size => 5, :class => "powerfield" %>/<%= f.text_field :toughness, :size => 5, :class => "toughnessfield" %>
   </table>
  </td>                    <!-- end of card -->

  <td>                     <!-- controls, comments etc -->
   <table>
    <tr>
     <td><%= f.label :code %></td>
     <td><%= f.text_field :code %></td>
    </tr>
    <!-- tr>
     <td><##%= f.label :colour %></td>
     <td><##%= f.select :colour, card_colours.unshift("Auto").map{|c| [c.capitalize, c]} %></td>
    </tr -->
    <tr>
     <td><%= f.label :frame %></td>
     <td><%= f.select :frame, card_frames.unshift("Auto") %></td>
    </tr>
    <tr>
     <td><%= f.label :active %></td>
     <td><%= f.check_box :active %></td>
    </tr>
    <tr>
     <td colspan="2">
      <%= f.hidden_field :cardset_id, :value => @card.cardset_id %>
      <%= f.submit %>
     </td>
    </tr>
   </table>
  </td>
 </tr>
</table>

<% end %>
