<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cardset_id %><br />
    <%= f.text_field :cardset_id %>
  </div>
  <div class="field">
    <%= f.label :colour %><br />
    <%= f.text_field :colour %>
  </div>
  <div class="field">
    <%= f.label :rarity %><br />
    <%= f.text_field :rarity %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :supertype %><br />
    <%= f.text_field :supertype %>
  </div>
  <div class="field">
    <%= f.label :cardtype %><br />
    <%= f.text_field :cardtype %>
  </div>
  <div class="field">
    <%= f.label :subtype %><br />
    <%= f.text_field :subtype %>
  </div>
  <div class="field">
    <%= f.label :rulestext %><br />
    <%= f.text_area :rulestext %>
  </div>
  <div class="field">
    <%= f.label :flavourtext %><br />
    <%= f.text_area :flavourtext %>
  </div>
  <div class="field">
    <%= f.label :power %><br />
    <%= f.text_field :power %>
  </div>
  <div class="field">
    <%= f.label :toughness %><br />
    <%= f.text_field :toughness %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
