<%= form_for(@card) do |outer_form| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table border="0">         <!-- grouping table -->
 <tr>
  <td style="vertical-align: top;">                      <!-- card -->
   <!-- div class="cardtabs" id="tabs">
    <a href="#cardimage">Image</a>
    <a href="#mockup">Mockup</a>
   </div>
   <div class="onetab" id="cardimage"><a name="cardimage"></a>
     <img src="">
   </div>
   <div class="onetab" id="prettycard"><a name="mockup"></a -->
   <% "if @card.nonstandard_frame?
      else
       frame_select_visible = false
       show_frame_select_button = true
      end"
       frame_select_visible = true
       show_frame_select_button = false
   %>
   <div class="multipart_selector_div">
    <span id="multipart_selector_wrapper">
     <script language="JavaScript">
      MULTIPART_STANDALONE = <%= Card.STANDALONE %>;
      MULTIPART_SPLIT1     = <%= Card.SPLIT1 %>;
      MULTIPART_FLIP1      = <%= Card.FLIP1 %>;
      MULTIPART_DFCFRONT   = <%= Card.DFCFRONT %>;
     </script>
     <% 
      frame_select_options = [["Normal", Card.STANDALONE], ["Split", "multipart_#{Card.SPLIT1}"], ["Flip", "multipart_#{Card.FLIP1}"], ["Double-Faced", "multipart_#{Card.DFCFRONT}"], ["Planeswalker", "Planeswalker"], ["Scheme", "Scheme"], ["Plane", "Plane"], ["Vanguard", "Vanguard"], ["Token", "Token"], ["Emblem", "Emblem"]]
      %>
     <%= outer_form.select :multipart, frame_select_options, {}, 
        { :style => ( frame_select_visible ? "" : "display:none;"), 
        :onchange => "updateMultipartStyle()", :onkeyup => "updateMultipartStyle()" } %>
     <%= outer_form.hidden_field :multipart %>
    <span id="rotate_link" <% if !@card.flip? %> style="display:none;"<% end %>>
      <%= link_to_function "(Rotate)", "$('cardborder').toggleClassName('rotated');", :class => "no_tooltip" %>
    </span>
   </div>
   <!-- The two card forms -->
   <div class="<%= @card.border_colour %>border form <%= @card.cardframe_class %> cardborder" id="cardborder">
     <%= render :partial => "onecardform", :locals => { :f => outer_form, :card => @card, :card_index => 1, :show_frame_select_button => show_frame_select_button } %>
     <%= outer_form.fields_for :link do |f| %>
       <%= render :partial => "onecardform", :locals => { :f => f, :card => @card.link, :card_index => 2, :show_frame_select_button => false } %>
     <% end %>
  </div>
  </td>                    <!-- end of card -->

  <td style="vertical-align: top;">           <!-- controls, comments etc -->
   <table>
    <% code = @card.code || params[:code]%>
    <% if !code.blank? && @cardset.skeleton %>
     <tr>
      <td class="form_info_cell"><%= link_to "Skeleton", [@cardset, @cardset.skeleton] %> row</td>
      <td>
        <% skeleton_row = @cardset.get_skeleton_row(code) %>
        <% if !skeleton_row.blank? %>
         <div>
           <% mini_table = @cardset.get_skeleton_header_rows + skeleton_row %>
           <%= format_skeleton_table(format_all_markup(mini_table, @cardset)) %>
         </div>
        <% else %>
          <div>No skeleton entry for code "<%= code %>" found</div>
        <% end %>
      </td>
     </tr>
    <% end %>
    <tr>
     <td><%= outer_form.label :image_url, "URL for whole card image" %>
     <td><%= outer_form.text_field :image_url, :class => "image_url_field" %>
     </td>
    </tr>
    <% if @card.cardset.configuration.card_show_code %>
     <tr>
      <td><%= outer_form.label :code %></td>
      <td><%= outer_form.text_field :code %></td>
     </tr>
    <% else %>
     <%= outer_form.hidden_field :code %>
    <% end %>
    <% if @card.cardset.configuration.card_show_active %>
     <tr>
      <td><%= outer_form.label :active, "Active?" %></td>
      <td><%= outer_form.check_box :active %></td>
     </tr>
    <% end %>
    <% if !@card.new_record? %>
     <tr>
      <td colspan="2">
       <br>
      <%= label_tag "edit_comment", "Enter a brief summary of the change you made:" %>
      <br><%= text_field_tag :edit_comment, params[:edit_comment], :class => "edit_comment_field" %>
      </td>
     </tr>
    <% end %>
    <tr>
     <td colspan="2">
      <%= outer_form.submit %>
      <%= hidden_field_tag :is_preview, false %>
      <%= outer_form.submit "Preview", { :onclick => "$('is_preview').value = true;" } %>
     </td>
    </tr>
   </table>
   <% if !@card.new_record? %>
     <br>
     <div>
       <ul class="cardtabs" id="tabs">
        <li><a class="no_tooltip" href="#editing_help" id="editing_help_link">Help</a></li>
        <li><a class="no_tooltip" href="#history">History</a></li>
       </ul>
     </div>
   <% end %>
   <div class="helptext onetab active-tab-body" id="editing_help">
      <p id="nonplaneswalker">
      Enter mana symbols like this:
      <br><code>{2}{U}{U/R}{PR}, {T}</code> becomes <%= format_mana_symbols("{2}{U}{U/R}{PR}, {T}") %>
      </p>
      <p id="planeswalker">On planeswalkers, <code>[+1]</code> becomes <span class="loyaltyContainer"><span class="loyalty positive">+1</span></span>
      </p>
     <% if !@cardset.mechanics.empty? %>
       <p>
       Enter <%= link_to "mechanics", cardset_mechanics_path(@cardset) %> like this:
       <% @cardset.mechanics.all.each do |mech| %>
         <% src_no_reminder, src_with_reminder, target_no_reminder, target_with_reminder = mech.regexps
         string_with_reminder = src_with_reminder.inspect.sub(Mechanic.one_param, "AA").sub(Mechanic.one_param, "BB").gsub(/\\|\//, "")
         string_no_reminder = src_no_reminder.inspect.sub(Mechanic.one_param, "AA").sub(Mechanic.one_param, "BB").gsub(/\\|\//, "") %>
         <br><code><%= string_with_reminder %></code> for <%= mech.name %>
         <% if !mech.reminder.blank? %>
           <br><code><%= string_no_reminder %></code> for <%= mech.name %> without reminder text
         <% end %>
       <% end %>
       </p>
     <% end %>
     <p>Abbreviations supported:
<br><code>ETBs</code> becomes <code>enters the battlefield</code>
<br><code>UEOT</code> becomes <code>until end of turn</code>
<br><code>CMC</code> becomes <code>converted mana cost</code>
<br><code>~</code>, <code>~this~</code> and <code>CARDNAME</code>
become the card's name
<br>Surround with asterisks for <i>*italics*</i> and double-asterisks for <b>**bold**</b>
<br>Note that text in <i>(parentheses)</i> is reminder text and is italicised automatically
      </p>
    </div>
    <% if !@card.new_record? %>
    <div class="onetab" id="history">
      <%= render "history" %>
    </div>
    <% end %>
  </td>
 </tr>
</table>

   <script type="text/javascript">
     new Fabtabs("tabs", "editing_help_link");
   </script>

<% end %>
