<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% @cardset = @cardset %>

<table border="0">         <!-- grouping table -->
 <tr>
  <td>                      <!-- card -->
   <!-- div class="cardtabs" id="tabs">
    <a href="#cardimage">Image</a>
    <a href="#mockup">Mockup</a>
   </div>
   <div class="onetab" id="cardimage"><a name="cardimage"></a>
     <img src="">
   </div>
   <div class="onetab" id="prettycard"><a name="mockup"></a -->
   <div class="blackborder">
   <div class="card <%= @card.display_class %>" id="card">
    <div class="pinline pinline_box">
     <div class="cardtitlebar">
      <!-- div class="cardname" --><table><tr><td>
       <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
       </div>
      <!-- /div --></td>
      <!-- div class="cardmanacost" --><td>
       <div class="field">
        <%= f.label :cost %><br />
        <%= f.text_field :cost,
          { :onchange => "update_frame()" } %>
       </div>
      <!-- /div --></td></tr></table>
     </div>
    </div>
    <div class="cardart_container">
     <div class="pinline pinline_sides">
      <div class="cardart">
       <%= f.label :art_url, "URL for art" %>
       <%= f.text_field :art_url, :class => "art_url_field" %>
      </div>
     </div>
    </div>
    <div class="pinline pinline_box">
     <div class="cardtypebar">
      <table><tr>
       <td>
        <div class="cardtype">
          <%= f.text_field :supertype %>
          <%= f.text_field :cardtype,
          { :onchange => "update_frame()" } %> &ndash;
          <%= f.text_field :subtype %>
        </div>
       </td>
       <td>
        <div class="<%= @card.rarity %>" id="raritycell">
          <%= f.select :rarity, Card.rarities.map{|r| [r[0].chr.upcase, r]},
          { :selected => @card.rarity },
          { :onchange => "update_card_rarity(this.value)" } %>
        </div>
       </td>
      </tr></table>
     </div>
    </div>
    <div class="cardtext_container">
     <div class="pinline pinline_sidesbottom">
      <div class="cardtext">
       <%= f.text_area :rulestext,   :class => "rulestextfield"   %>
       <div class="flavourtext">
        <%= f.text_area :flavourtext, :class => "flavourtextfield" %>
       </div>
      </div>
     </div>
    </div>
    <div class="bottombox">
     Artist: <%= f.text_field :artist %>
     <div class="ptbox_container">
      <div class="pinline pinline_box pinline_ptbox">
       <div class="notptbox">
        <table style="margin: auto;"><tr>
         <td><%= f.text_field :power, :size => 5, :class => "powerfield" %></td>
         <td>/</td>
         <td><%= f.text_field :toughness, :size => 5, :class => "toughnessfield" %></td>
        </td></tr></table>
      </div>
     </div>
    </div>
   </div>
  </div>
  </div>
  </td>                    <!-- end of card -->

  <td>                     <!-- controls, comments etc -->
   <table>
    <tr>
     <td><%= f.label :image_url, "URL for whole card image" %>
     <td><%= f.text_field :image_url, :class => "image_url_field" %>
     </td>
    </tr>
    <% if @cardset.configuration.card_show_code %>
    <tr>
     <td><%= f.label :code %></td>
     <td><%= f.text_field :code %></td>
    </tr>
    <% end %>
    <% if @cardset.configuration.card_show_active %>
    <tr>
     <td><%= f.label :active, "Active?" %></td>
     <td><%= f.check_box :active %></td>
    </tr>
    <% end %>
    <!-- tr>
     <td><##%= f.label :colour %></td>
     <td><##%= f.select :colour, Card.colours.unshift("Auto").map{|c| [c.capitalize, c]} %></td>
    </tr -->
    <tr>
     <td><%= f.label :frame %></td>
     <% frames_keys = Card.display_frames %>
     <% frames_values = Card.frames %>
     <% frames = frames_keys.zip(frames_values) %>
     <td><%= f.select :frame, frames.unshift(["Auto", "Auto"]), {}, 
          { :onchange => "update_frame()" } %></td>
    </tr>
    <tr>
     <td colspan="2">
      <%= f.hidden_field :cardset_id, :value => @cardset_id %>
      <%= f.submit %>
     </td>
    </tr>
    <tr>
     <td colspan="2">
      <div class="helptext">
        <p>
        Enter mana symbols like this: 
        <br><code>{2}{U}{U/R}, {T}</code> becomes <%= format_mana_symbols("{2}{U}{U/R}, {T}") %>
        </p>
       <% if !@cardset.mechanics.empty? %>
         <p>
         Enter <%= link_to "mechanics", cardset_mechanics_path(@cardset) %> like this:
         <% @cardset.mechanics.all.each do |mech| %>
           <% src_no_reminder, src_with_reminder, target_no_reminder, target_with_reminder = mech.regexps 
           string_with_reminder = src_with_reminder.inspect.sub(Mechanic.one_param, "AA").sub(Mechanic.one_param, "BB").gsub(/\\|\//, "")
           string_no_reminder = src_no_reminder.inspect.sub(Mechanic.one_param, "AA").sub(Mechanic.one_param, "BB").gsub(/\\|\//, "") %>
           <br><code><%= string_with_reminder %></code> for <%= mech.name %>
           <br><code><%= string_no_reminder %></code> for <%= mech.name %> without reminder text
         <% end %>
         </p>
       <% end %>
       <p>Abbreviations supported: 
<br><code>ETBs</code> becomes <code>enters the battlefield</code>
<br><code>UEOT</code> becomes <code>until end of turn</code>
<br><code>~</code>, <code>~this~</code> and <code>CARDNAME</code>
become the card's name
        </p>
      </div>
     </td>
    </tr>
   </table>
  </td>
 </tr>
</table>

<% end %>
