 <% this_card_id = (card_index==1 ? "card" : "card2")
    update_frame_call = "update_frame('#{this_card_id}')" %>
 <div class="form card <%= card.display_class %> part<%= card_index %>" id="<%= this_card_id %>" <% if card_index>1 && !@card.multipart? %>style="display:none;"<% end %>>
  <% if card_index > 1 %>
    <%= f.hidden_field :link_id %>
  <% end %>
  <%= f.hidden_field :cardset_id, :value => card.cardset_id %>
  <div class="pinline pinline_box namebox">
   <div class="cardtitlebar">
    <!-- div class="cardname" --><table><tr><td>
     <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
     </div>
    <!-- /div --></td>
    <!-- div class="cardmanacost" --><td>
     <div class="field">
      <%= f.label :cost %><br />
      <%= f.text_field :cost,
        { :class => "cost_field", 
          :onchange => update_frame_call,
          :onkeyup => update_frame_call } %>
     </div>
    <!-- /div --></td></tr></table>
   </div>
  </div>
  <div class="cardart_container">
   <div class="pinline pinline_sides">
    <div class="cardart">
     <%= f.label :art_url, "URL for art" %>
     <%= f.text_field :art_url, :class => "art_url_field" %>
     <br>
      <div class="frame_selector_wrapper">
       <%= f.label :frame %>
       <% frames_keys = Card.display_frames 
          frames_values = Card.frames 
          frames = frames_keys.zip(frames_values) 
          frames.unshift(["Auto", "Auto"])
          if show_split_flip_frame_option 
            frames.unshift(["Split / Flip", "splitflip"])
          end
          %>
       <%= f.select :frame, frames, {},
           { :class => "frame_selector", 
             :onchange => update_frame_call, 
             :onkeyup => update_frame_call } %>
      </div>
     <br>
      <div>
       <%= f.label :watermark %>
       <% 
        watermark_options = [["None", ""], ["Custom", "CUSTOM"]] + 
          %w{White Blue Black Red Green}.map {|col| ["#{col} Mana", "{#{col} Mana}"]} +
          %w{Boros Selesnya Golgari Dimir Gruul Izzet Orzhov Azorius Simic Rakdos}.map {|guild| [guild, "{#{guild}}"]}
        %>
       <script type="text/javascript">
         standard_watermark_urls = { <% watermark_options.each do |this_watermark| %><% if (this_filename = standard_watermark_filename(this_watermark[1])).present? %>
           "<%= this_watermark[1] %>": "<%= this_filename %>", <% end %><% end %>
         }
       </script>
       <%= f.select :watermark, watermark_options, {}, 
          { :class => "watermark_selector", 
            :onchange => "updateWatermark()", :onkeyup => "updateWatermark()" } %>
      </div>
     </div>
    </div>
   </div>
   <div class="pinline pinline_box typebox">
    <div class="cardtypebar">
     <table><tr>
      <td>
       <div class="cardtype">
         <% if card.supertype.blank? || Card.supertypes.include?(card.supertype) %>
           <%= select_tag "card_supertype_select_#{card_index}", options_for_select(Card.supertypes << "Custom", :selected => card.supertype),
             { :onchange => "update_card_supertype(#{card_index}, this.value)",
             :onkeyup => "update_card_supertype(#{card_index}, this.value)", :include_blank => true } %>
           <% supertype_visibility = "none"; %>
         <% else %>
           <% supertype_visibility = "inline"; %>
         <% end %>
         <%= f.text_field :supertype, { :class => "type_field supertype", :style => "display:#{supertype_visibility};" } %>
         <%= f.text_field :cardtype,
         { :class => "type_field cardtype", 
           :onchange => update_frame_call,
           :onkeyup => update_frame_call } %> &ndash;
         <%= f.text_field :subtype, { :class => "type_field subtype", 
           :onchange => update_frame_call,
           :onkeyup => update_frame_call  } %>
       </div>
      </td>
      <td>
       <div class="cardrarity <%= card.rarity %> raritycell">
         <%= f.select :rarity, Card.rarities.map{|r| [r.capitalize, r]},
         { :selected => card.rarity },
         { :class => "rarity_selector", 
           :onchange => "update_card_rarity(this.value)",
           :onkeyup => "update_card_rarity(this.value)",
           :onkeydown => "update_card_rarity(this.value)" } %>
       </div>
      </td>
     </tr></table>
    </div>
   </div>
   <div class="cardtext_container">
    <div class="pinline pinline_sidesbottom">
     <div class="cardtext">
      <% if card.watermark.present? && card.watermark =~ /^[{].*[}]$/ && (watermark_url = standard_watermark_filename(card.watermark)).present?
        "got the url"
        else 
          watermark_url = card.watermark
        end %>
      <div class="watermark" <% if watermark_url.present? %> style="background-image: url(<%= watermark_url %>);"<% end %>>
       <%= f.text_area :rulestext,   :class => "rulestextfield", 
           :onchange => update_frame_call,
           :onkeyup => update_frame_call   %>
       <div class="flavourtext">
        <%= f.text_area :flavourtext, :class => "flavourtextfield" %>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="bottombox">
    <span class="artist_area"><%= f.label :artist, "Artist:" %> <%= f.text_field :artist %></span>
    <div class="ptbox_container">
     <div class="pinline pinline_box pinline_ptbox">
      <div class="notptbox">
       <table style="margin: auto;"><tr>
        <td id="power_field"><%= f.text_field :power, :size => 5, :class => "powerfield" %></td>
        <td id="pt_slash">/</td>
        <td id="toughness_field"><%= f.text_field :toughness, :size => 5, :class => "toughnessfield" %></td>
       </td></tr></table>
     </div>
    </div>
   </div>
  </div>
  </div>