<h1><%= link_to @card.printable_name, @card %>: Move</h1>

<% @title = "#{@card.printable_name}: Move" %>

<%= render "cardsets/setviews" %>

<% "We require admin permission on the source cardset and also on the destination. Technically we only need edit on the destination, but this is more reversible."
   valid_cardsets = Cardset.select { |cs| permission_to?(:admin, cs) } - [@cardset] 
   valid_cardsets = valid_cardsets.sort_by &:name %>
<% if valid_cardsets.empty? %>
  <div>There are no other cardsets which you have permission to move this card into.</div>
<% else %>
  <% valid_cardset_names = valid_cardsets.map &:name %>
  Move <%= link_to @card.printable_name, @card %> to cardset:
  <%= form_for(@card, :url => process_move_card_path(@card)) do |f| %>
    <%= f.collection_select :cardset_id, valid_cardsets, :id, :name %>
    <%= hidden_field_tag "special", "move" %>
    <br/>
    <div class="button_outer"><div class="button_inner">
      <%= f.submit "Move card" %>
    </div></div>
    <div class="button_outer"><div class="button_inner">
      <%= link_to "Cancel", :back, { class: "no_tooltip" } %>
    </div></div>
  <% end %>
<% end %>