<p id="notice"><%= notice %></p>


<table border="0"> <!-- grouping table -->
 <tr>
  <td> <!-- card -->
   <table class="card <%= @card.colour %>">
    <tr class="cardtitle">
     <td class="cardname">
      <span title="<%= @card.code %>"><%= @card.name %></span>
     <td class="cardcost"><%= @card.cost %>
    <tr>
     <td colspan="2" class="cardart">&nbsp;
    <tr class="cardtypeline">
     <td class="minitext cardtype"><%= @card.supertype %> <%= @card.cardtype %> &ndash; <%= @card.subtype %>
     <td class="cardrarity <%= @card.rarity %>"><%= @card.rarity[0].chr.upcase %>
    <tr>
     <td class="cardtext" colspan="2"><%= @card.rulestext %>
      <div class="flavourtext"><%= @card.flavourtext %></div>
    <tr class="cardptline">
     <td>&nbsp;
     <% if !@card.power.nil? %>
     <td class="cardpt"><%= @card.power %>/<%= @card.toughness %>
     <% end %>
   </table>
  </td> <!-- end of card -->

  <td> <!-- controls, comments etc -->
   <p>
     <b>Set:</b>
     <% @cardset = Cardset.find(@card.cardset_id).name %>
     <%= link_to @cardset, cardset_path(@card.cardset_id) %>
   </p>

   <p>
     <b>Comments:</b>
     <div class="cardhistory">
     <ul>
     <%= render :partial => 'comment', :collection => @card.comments %> <!-- uses views/cards/_comment.html.erb -->
     </ul>
     </div>
     <b>Add your comments:</b>
     <%= render 'shared/comment_form' %>
   </p>


   <p>
     <b>Active:</b>
     <%= @card.active %>
   </p>


   <%= link_to 'Edit card', edit_card_path(@card) %>
  </td>
 </tr>
</table>

