<% @title = @card.name %>
<table border="0"> <!-- grouping table -->
 <tr>
  <td> <!-- card -->
   <%= render :partial => 'shared/prettycard', :locals => { :link => false } %>
  </td> <!-- end of card -->

  <td> <!-- controls, comments etc -->
   <p>
     <b>Set:</b>
     <% @cardset = Cardset.find(@card.cardset_id).name %>
     <%= link_to @cardset, cardset_path(@card.cardset_id) %>
   </p>

   <p>
     <b>Comments:</b>
     <div class="cardhistory">
     <ul>
     <%= render :partial => 'comment', :collection => @card.comments %> <!-- uses views/cards/_comment.html.erb -->
     </ul>
     </div>
     <b>Add your comments:</b>
     <%= render 'shared/comment_form' %>
   </p>


   <p>
     <b>Active:</b>
     <%= @card.active %>
   </p>


   <%= link_to 'Edit card', edit_card_path(@card) %>
  </td>
 </tr>
</table>

