<% @title = @card.name %>
<% new_comment = @comment # store, because we`ll be overwriting "@comment" to show previous comments %>

<%= javascript_include_tag "fabtabulous.js" %>

<table border="0"> <!-- grouping table -->
 <tr>
  <td class="cardcell"> <!-- card -->
   <ul class="cardtabs" id="tabs">
    <% if !@card.image_url.blank? %>
      <li><a href="#cardimage" id="cardimage_link">Image</a></li>
    <% end %>
    <li><a href="#mockup"      id="mockup_link"   >Mockup</a></li>
    <li><a href="#plaincard"   id="plaincard_link">Plain</a></li>
   </ul>
   <% if permission_to?(:edit, @card.cardset) %>
     <ul class="cardtabs">
      <li><%= link_to "Edit", edit_card_path(@card) %></li>
     </ul>
   <% end %>

   <div class="onetab" id="cardimage"><a name="cardimage"></a>
     <img src="<%= @card.image_url %>">
   </div>
   <div class="onetab" id="plaincard"><a name="plaincard"></a>
     <%= render :partial => "shared/plaincard" %>
   </div>
   <div class="onetab" id="mockup"><a name="mockup"></a>
     <%= render :partial => "shared/prettycard", :locals => { :link => false } %>
   </div>
   <% show_edit_link = permission_to?(:edit, @card.cardset) %>
   <% show_delete_link = permission_to?(:delete, @card.cardset) %>
   <% if show_edit_link || show_delete_link %>
     <div class="card_controls_below">
       <% if show_edit_link %>
         <%= link_to "Edit card", edit_card_path(@card) %>
       <% end %>
       <% if show_edit_link && show_delete_link %>
         |
       <% end %>
       <% if show_delete_link %>
         <%= link_to "Delete card", @card, :confirm => "Really DELETE #{@card.name}?", :method => :delete %>
       <% end %>
     </div>
   <% end %>
   <%= render :partial => "shared/updated_at", :locals => { :object => @card } %>
  </td> <!-- end of card -->

  <td> <!-- controls, comments etc -->
     <% @cardset = Cardset.find(@card.cardset_id) %>
     <%= render "cardsets/setviews" %>

     <% if @card.cardset.configuration.card_show_code %>
       <p><b>Code:</b> <%= @card.code %></p>
     <% end %>
     <% if @card.cardset.configuration.card_show_active %>
       <p><b>Active?:</b> <%= @card.active %></p>
     <% end %>
     <p>
       <b>Comments:</b>
       <div class="cardhistory">
       <ul>
         <% @card.comments.each do |@comment| %>
           <%= render :partial => "shared/comment", :locals => { :buttons => true } %>
         <% end %>
       </ul>
       </div>
       <% if permission_to?(:comment, @card.cardset) %>
         <b>Add your comments:</b>
         <% @comment = new_comment # restore the value stored at the top %>
         <%= render "shared/card_comment_form" %>
       <% else %>
         <%= @cardset.permission_message(:comment) %>
         <% if !signed_in? %>
           Would you like to <%= link_to "sign in", signin_path %>?
         <% end %>
       <% end %>
     </p>
  </td>
 </tr>
</table>
   <% if @card.cardset.configuration.frame == "image" && !@card.image_url.blank?
          desired_tab = "cardimage"
      elsif @card.cardset.configuration.frame == "plain"
          desired_tab = "plaincard"
      else # "prettycard", and also "image" with no image
          desired_tab = "mockup"
      end
    %>
   <script type="text/javascript">
     new Fabtabs("tabs", "<%= desired_tab %>_link");
   </script>
