<% @title = @card.printable_name %>
<% new_comment = @comment # store, because we`ll be overwriting "@comment" to show previous comments %>

     <%= render "cardsets/setviews" %>

<% tab_display = {}
  if @card.cardset.configuration.frame == "image" && !@card.image_url.blank?
      default_tab = "cardimage"
  elsif @card.cardset.configuration.frame == "plain"
      default_tab = "plaincard"
  else # "prettycard", and also "image" with no image
      default_tab = "mockup"
  end
  tab_display[default_tab] = true
  show_this_tab = " active-tab-body"
  # this lot isn't necessary if fabtabulous works, but in no-JS browsers it lets them display
%>
<table class="grouping" border="0" itemscope itemtype="http://schema.org/ItemPage"> 
 <tr>
  <td class="cardcell" style="position: relative; height: 400px;"> <!-- card -->
   <div id="card_fixed_wrapper_outer"><div id="card_fixed_wrapper_inner">
     <ul class="cardtabs" id="tabs">
      <% if !@card.image_url.blank? %>
        <li><a href="#cardimage" id="cardimage_link" class="no_tooltip">Image</a></li>
      <% end %>
      <li><a href="#mockup"      id="mockup_link"    class="no_tooltip" onclick="setTimeout(makeAllCardsFit, 100);">Mockup</a></li>
      <li><a href="#plaincard"   id="plaincard_link" class="no_tooltip">Plain</a></li>
     </ul>
     <% if permission_to?(:edit, @card.cardset) %>
       <ul class="cardtabs">
        <li><%= link_to "Edit", edit_card_path(@card) %></li>
       </ul>
     <% end %>
     
     <div id="cardimage" class="onetab<%= tab_display["cardimage"] ? show_this_tab : "" %>"><a name="cardimage"></a>
       <%= image_tag(@card.image_url, :onload =>"resizeCardWrapper();") %>
     </div>
     <div id="plaincard" class="onetab<%= tab_display["plaincard"] ? show_this_tab : "" %>"><a name="plaincard"></a>
       <%= render :partial => "shared/plaincard" %>
     </div>
     <div id="mockup" class="onetab<%= tab_display["mockup"] ? show_this_tab : "" %>"><a name="mockup"></a>
       <%= render :partial => "shared/prettycard", :locals => { :link => false } %>
     </div>
     <% show_expand_link = true %>
     <% show_rotate_link = @card.flip? || @card.split? || @card.splitback? %>
     <% show_edit_link = permission_to?(:edit, @card.cardset) %>
     <% show_move_link = permission_to?(:admin, @card.cardset) %>
     <% show_delete_link = permission_to?(:delete, @card.cardset) %>
     <% if show_expand_link || show_rotate_link || show_edit_link || show_move_link || show_delete_link %>
       <div class="card_controls_below">
         <% if show_rotate_link %>
           <%= link_to_function "Rotate", "rotate_card()", :class => "card_rotate_link no_tooltip" %>
         <% end %>
         <% if show_rotate_link %> 
           |
         <% end %>
         <%= link_to_function "Expand text", "expand_text()", :id => "expand_text_link", :class => "expand_text_link no_tooltip"  %>
         <% if (show_edit_link  || show_move_link || show_delete_link) %>
           |
         <% end %>
         <% if show_edit_link %>
           <%= link_to "Edit", edit_card_path(@card), :class => "card_edit_link" %>
         <% end %>
         <% "End of first row" %>
         <% if show_move_link || show_delete_link %>
           <br>
         <% end %>
         <% if show_move_link %>
           <%= link_to "Move", move_card_path(@card), :class => "card_move_link" %>
         <% end %>
         <% if show_move_link && show_delete_link %>
           |
         <% end %>
         <% if show_delete_link %>
           <%= link_to "Delete", @card, :data => { :confirm => "Really DELETE #{@card.printable_name}?" }, :method => :delete, :class => "card_delete_link no_tooltip" %>
         <% end %>
       </div>
     <% end %>
     <%= render :partial => "shared/add_to_decklist" %>
     <%= render :partial => "shared/updated_at", :locals => { :object => @card } %>
     </div>
  </td> <!-- end of card -->

  <td class="card_comments"> <!-- controls, comments etc -->
     <% @cardset = Cardset.find(@card.cardset_id) %>

     <% if @card.cardset.configuration.card_show_code %>
       <p><b>Code:</b>
       <% if !@card.cardset.skeleton.nil? && !@card.code.blank? %>
         <%= link_to @card.code, skeleton_cardset_path(@card.cardset), :title => "Skeleton" %>
       <% else %>
         <%= @card.code %>
       <% end %></p>
     <% end %>
     <% if @card.cardset.configuration.card_show_active %>
       <p><b>Active?:</b> <%= !!@card.active %></p>
     <% end %>
     <p>
       <b>History:</b>
       <% card_history = @card.get_history %>
       <% if card_history.length > 3 %>
         <%= link_to_function "[-]", visual_effect(:toggle_blind, :history_list, :duration => 0.5),
             :class => "no_tooltip" %>
       <% end %>
       <%= render "history" %>
     </p>
     <% if permission_to?(:comment, @card.cardset) %>
       <p>
         <b>Add your comments:</b>
         <div class="cardhistory">
           <div class="commentlist">
             <% @comment = new_comment # restore the value stored at the top %>
             <%= render "shared/card_comment_form" %>
           </div>
         </div>
       <% else %>
         <%= @cardset.permission_message(:comment) %>
         <% if !signed_in? %>
           Would you like to <%= link_to "sign in", signin_path %>?
         <% end %>
       <% end %>
     </p>
  </td>
 </tr>
</table>
   <script type="text/javascript">
     new Fabtabs("tabs", "<%= default_tab %>_link", resizeCardWrapper);
// ----------- Resize the fixed-width wrapper
function resizeCardWrapper() {
  // once card widths have rendered, make the fixed_wrapper actually fixed and make its parent hold the width
  $$('#card_fixed_wrapper_inner').each(function(inner_div) {
    var middle_div = inner_div.parentNode;
    var outer_td = middle_div.parentNode;
    var myWidth = inner_div.getWidth();
    outer_td.style.width = myWidth + "px";
    middle_div.addClassName("fixed_outer");
    inner_div.addClassName("fixed_inner");
  });
}
// -- And the associated onload trigger
document.observe("dom:loaded", resizeCardWrapper);
   </script>
