<% @title = @card.printable_name %>
<% new_comment = @comment # store, because we`ll be overwriting "@comment" to show previous comments %>

<%= javascript_include_tag "fabtabulous.js" %>

<% tab_display = {}
  if @card.cardset.configuration.frame == "image" && !@card.image_url.blank?
      default_tab = "cardimage"
  elsif @card.cardset.configuration.frame == "plain"
      default_tab = "plaincard"
  else # "prettycard", and also "image" with no image
      default_tab = "mockup"
  end
  tab_display[default_tab] = true
  show_this_tab = ' style="display: block;"'
  # this lot isn't necessary if fabtabulous works, but in no-JS browsers it lets them display
%>
<table border="0"> <!-- grouping table -->
 <tr>
  <td class="cardcell"> <!-- card -->
   <ul class="cardtabs" id="tabs">
    <% if !@card.image_url.blank? %>
      <li><a href="#cardimage" id="cardimage_link">Image</a></li>
    <% end %>
    <li><a href="#mockup"      id="mockup_link"    onclick="setTimeout(makeAllCardsFit, 100);">Mockup</a></li>
    <li><a href="#plaincard"   id="plaincard_link">Plain</a></li>
   </ul>
   <% if permission_to?(:edit, @card.cardset) %>
     <ul class="cardtabs">
      <li><%= link_to "Edit", edit_card_path(@card) %></li>
     </ul>
   <% end %>

   <div class="onetab" id="cardimage"<%= tab_display["cardimage"] ? show_this_tab : "" %>><a name="cardimage"></a>
     <img src="<%= @card.image_url %>">
   </div>
   <div class="onetab" id="plaincard"<%= tab_display["plaincard"] ? show_this_tab : "" %>><a name="plaincard"></a>
     <%= render :partial => "shared/plaincard" %>
   </div>
   <div class="onetab" id="mockup"<%= tab_display["mockup"] ? show_this_tab : "" %>><a name="mockup"></a>
     <%= render :partial => "shared/prettycard", :locals => { :link => false } %>
   </div>
   <% show_edit_link = permission_to?(:edit, @card.cardset) %>
   <% show_move_link = false && permission_to?(:admin, @card.cardset) %>
   <% show_delete_link = permission_to?(:delete, @card.cardset) %>
   <% if show_edit_link || show_move_link || show_delete_link %>
     <div class="card_controls_below">
       <% if show_edit_link %>
         <%= link_to "Edit", edit_card_path(@card) %>
       <% end %>
       <% if show_edit_link && (show_move_link || show_delete_link) %>
         |
       <% end %>
       <% if show_move_link %>
         <%= link_to "Move", move_card_path(@card) %>
       <% end %>
       <% if show_move_link && show_delete_link %>
         |
       <% end %>
       <% if show_delete_link %>
         <%= link_to "Delete", @card, :confirm => "Really DELETE #{@card.printable_name}?", :method => :delete %>
       <% end %>
     </div>
   <% end %>
   <%= render :partial => "shared/updated_at", :locals => { :object => @card } %>
  </td> <!-- end of card -->

  <td> <!-- controls, comments etc -->
     <% @cardset = Cardset.find(@card.cardset_id) %>
     <%= render "cardsets/setviews" %>

     <% if @card.cardset.configuration.card_show_code %>
       <p><b>Code:</b> 
       <% if !@card.cardset.skeleton.nil? && !@card.code.blank? %>
         <%= link_to @card.code, skeleton_cardset_path(@card.cardset), :title => "Skeleton" %>
       <% else %>
         <%= @card.code %>
       <% end %></p>
     <% end %>
     <% if @card.cardset.configuration.card_show_active %>
       <p><b>Active?:</b> <%= !!@card.active %></p>
     <% end %>
     <p>
       <% card_history = @card.get_history %>
       <b>History:</b><% if card_history.length > 3 %> <%= link_to_function "[-]",
          visual_effect(:toggle_blind, :history_list, :duration => 0.5) %><% end %>
       <div class="cardhistory" id="history_list">
         <div class="commentlist" id="history_items">
           <% last_item_blank_edit = false 
              last_edit_date = nil %>
           <% card_history.each do |history_item| %>
             <!-- id: <%= history_item.id %> -->
             <% case history_item.what_are_you %>
               <% when "Log": %>
                 <% @log = history_item %>
                 <% verb = @log.past_tense_verb(true)
                    if verb == "edited "
                      verb << " the card" 
                      skip_display = last_item_blank_edit && @log.text.blank? && last_edit_date == @log.datestamp.to_date
                      # skip if the last was also another blank edit on the same date
                      last_item_blank_edit = @log.text.blank?
                      last_edit_date = @log.datestamp.to_date
                    else
                      last_item_blank_edit = false
                      skip_display = false
                    end
                    %>
                 <% if !skip_display %>
                 <div class="comment log">
                   <%= render :partial => "shared/log_entry", :locals => { :link_to_recent => false } %>
                   <!-- <span class="logdetails"><%= format_datetime history_item.datestamp %>:
                   <%= friendly_link_to_user_id history_item.user_id %> <%= verb %><% if !history_item.text.blank? %>:</span> <%= history_item.text %>
                   <% else %></span>
                   <% end %> -->
                 </div>
                 <% end %>
               <% when "Comment": %>
                 <% @comment = history_item %>
                 <%= render :partial => "shared/comment", :locals => { :show_buttons => true, :show_date => true } %>
               <% else %><% "don't know what it is" %>
                 <% Rails.logger.info "Not showing history item #{history_item.class} with ID #{history_item.id} since it's not a Comment or Log" %>
             <% end %>
           <% end %>
         </div>
       </div>
     </p>
     <% if permission_to?(:comment, @card.cardset) %>
       <p>
         <b>Add your comments:</b>
         <div class="cardhistory">
           <div class="commentlist">
             <% @comment = new_comment # restore the value stored at the top %>
             <%= render "shared/card_comment_form" %>
           <% else %>
             <%= @cardset.permission_message(:comment) %>
             <% if !signed_in? %>
               Would you like to <%= link_to "sign in", signin_path %>?
             <% end %>
           </div>
         </div>
       <% end %>
     </p>
  </td>
 </tr>
</table>
   <script type="text/javascript">
     new Fabtabs("tabs", "<%= default_tab %>_link");
   </script>
