<% @title = @card.name %>
<table border="0"> <!-- grouping table -->
 <tr>
  <td class="cardcell"> <!-- card -->
   <%= render :partial => 'shared/prettycard', :locals => { :link => false } %>
  </td> <!-- end of card -->

  <td> <!-- controls, comments etc -->
     <% @cardset = Cardset.find(@card.cardset_id) %>
     <%= render 'cardsets/setviews' %>
   <!-- p>
     <b>Set:</b>
   </p -->

   <p>
     <b>Comments:</b>
     <div class="cardhistory">
     <ul>
     <%= render :partial => 'shared/comment', :collection => @card.comments # .sort_by(&:created_at) %>
     </ul>
     </div>
     <b>Add your comments:</b>
     <%= render 'shared/comment_form' %>
   </p>


   <% if signed_in_as_admin?(@card.cardset) %>
     <%= link_to 'Edit card', edit_card_path(@card) %>
     |
     <%= link_to 'Delete card', @card, :confirm => "Really DELETE #{@card.name}?", :method => :delete %>
   <% end %>
  </td>
 </tr>
</table>
