<header>
  <%= link_to_unless_current logo, root_path do
    image_tag("multiverse_logo_big.png", :alt => "Multiverse", :class => "square")
  end %>
  <nav>
    <ul>
      <li class="first"><%= link_to "Recent updates", cardsets_path %></li>
      <li class="subsequent"><%= link_to "Search:", advanced_search_path %>
        <% 'form_tag("/quicksearch", :method => "get") do' 
        %>
        <form action="<%= quicksearch_path %>" method="get">
          <%= text_field_tag "q", @quicksearch_query %>
        </form>
        <% "end" %>
      </li>
      <% if signed_in? %>
        <li class="subsequent"><%= link_to current_user.name, current_user %></li>
        <% if (decklist = current_user.active_decklist).blank? %>
          <li class="subsequent"><%= link_to "Sign out", signout_path, :method => :delete %></li>
        <% else %>
          <li class="subsequent decklists"><%= link_to decklist.name, decklist %></li>
        <% end %>
      <% else %>
        <li class="subsequent"><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
