<header>
  <%= link_to_unless_current logo, root_path do
    image_tag("multiverse_logo_big.png", :alt => "Multiverse", :class => "logo")
  end %>
  <nav>
    <ul>
      <li class="first"><%= link_to "Recent updates", cardsets_path %></li>
      <li class="subsequent"><%= link_to "Search:", advanced_search_path %>
        <% 'form_tag("/quicksearch", :method => "get") do' 
        %>
        <form action="<%= quicksearch_path %>" method="get">
          <%= text_field_tag "q", @quicksearch_query %>
        </form>
        <% "end" %>
      </li>
      <span class="break_if_mobile">
      <% if signed_in? %>
        <li class="subsequent"><%= link_to current_user.name, current_user %></li>
        <% if (decklist = current_user.active_decklist).present? %>
          <li class="subsequent decklists"><%= link_to decklist.name, decklist %> (<span id="decklist_num_cards"><%= decklist.num_cards %></span>)
          </li>
        <% end %>
      <% else %>
        <li class="subsequent"><%= link_to "Sign in", signin_path %></li>
      <% end %>
      </span>
    </ul>
  </nav>
</header>
