<!DOCTYPE html>
<html>
  <head>
    <title>Multiverse: <%= @title %></title>
    <%= stylesheet_link_tag :all %>
    <!-- link rel="stylesheet" type="text/css" href="Cardset.css" / -->
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag "Card_ie" %>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= javascript_include_tag "fastinit.js" %>
    <%= javascript_include_tag "tablekit.js" %>
    <%= javascript_include_tag "droplicious.js" %>
  </head>
  <body>

    <%= render "layouts/header" %>

    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>

    <%= yield %>

    <%= debug(params) if Rails.env.development? %>

  </body>
</html>
