<!DOCTYPE html>
<html>
  <head>
    <title><% if Rails.env.development? %>MV Dev<% else %>Multiverse<% end %>: <%= @title %></title>
    <%= stylesheet_link_tag "Card", :media => "all" %>
    <%= stylesheet_link_tag "Multiverse", :media => "all" %>
    <%= stylesheet_link_tag "tablekit", :media => "screen" %>
    <!--[if lt IE 8]>
      <%= stylesheet_link_tag "Card_ie" %>
    <![endif]-->
    
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= javascript_include_tag "fastinit.js" %>
    <%= javascript_include_tag "tablekit.js" %>
    <%= javascript_include_tag "droplicious.js" %>
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>

    <% if !@printable %>
      <%= render "layouts/header" %>
    <% end %>

    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>

    <%= yield %>

    <% if !@printable %>
      <%= render "layouts/footer" %>
    <% end %>

  </body>
</html>
